Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix `callCaller`
  src/utils/saga/effects.js
Due: eslint --fix

Add TODO to store creation functions
  src/data/stores.js
Due: eslint --fix

Adjust command args
  src/data/stores.js
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Update comments saga
  src/modules/dashboard/sagas/comments.js
Due: eslint --fix

Fix comments event typing
  src/data/service/commands/task.js
  src/data/service/events/tasks.js
  src/data/service/queries/index.js
Due: eslint --fix

Validate in steps
  src/modules/users/components/ENSNameDialog/ENSNameDialog.jsx
Due: eslint --fix

Throw error for invalid characters
  flow-typed/npm/yup_v0.26.x.js
  src/modules/users/components/ENSNameDialog/ENSNameDialog.jsx
Due: eslint --fix

Update colony sagas
  src/data/service/commands/colony.js
  src/data/service/events/colonies.js
  src/modules/dashboard/sagas/admins.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/sagas/domains.js
  src/modules/dashboard/sagas/index.js
  src/modules/dashboard/selectors/colony.js
Due: eslint --fix

Update: `cypress` package version -> `3.1.5`
  package.json
  yarn.lock
Due: none

Remove: initial `cypress` outdated specs
  cypress/integration/create_username_and_colony_spec.js
  cypress/integration/create_wallet_page_spec.js
  cypress/integration/start_page_spec.js
Due: eslint --fix

Fix: core `UserMention` spread rest props
  src/modules/core/components/UserMention/UserMention.jsx
  src/modules/users/components/UserProfile/UserMeta.jsx
Due: eslint --fix

Add: claim username integration test
  cypress/integration/claim-username.js
  src/modules/users/components/ConnectWalletWizard/StepTrufflePig/StepTrufflePig.jsx
  src/modules/users/components/ENSNameDialog/ENSNameDialog.jsx
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.jsx
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.jsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.jsx
  src/modules/users/components/GasStation/TransactionList/TransactionList.jsx
  src/modules/users/components/UserProfile/UserMeta.jsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
Due: eslint --fix

Fix: circle e2e testing workflow
  .circleci/config.yml
  src/modules/core/components/CardList/CardList.jsx
  src/modules/core/components/UserMention/UserMention.jsx
Due: eslint --fix

Upgrade react and react-dom to v16.8
  package.json
  yarn.lock
Due: none

Use exemplary hooks in GasStationPopover
  src/modules/users/components/GasStation/GasStationPopover.jsx
  src/utils/hooks/index.js
Due: eslint --fix

Remove: circle e2e job js files linting
  .circleci/config.yml
Due: none

Add: circle e2e job setup local env file
  .circleci/config.yml
Due: none

create withColonies hoc
  src/modules/core/components/ColonyGrid/ColonyGrid.jsx
  src/modules/dashboard/hocs/index.js
  src/modules/dashboard/hocs/withColonies.js
Due: eslint --fix

Open dialog when task invite is present
  src/dialogComponents.js
  src/modules/core/components/Assignment/Assignment.jsx
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
  src/modules/dashboard/components/Task/TaskInviteDialog.css
  src/modules/dashboard/components/Task/TaskInviteDialog.jsx
Due: eslint --fix, stylelint --fix

Set up that TaskInviteDialaog
  src/modules/core/components/Assignment/Assignment.jsx
  src/modules/core/components/UserAvatar/index.js
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Task/TaskInviteDialog.jsx
Due: eslint --fix

Use DialogLink to wrap inbox element
  src/i18n/en.json
  src/modules/core/components/Assignment/Assignment.jsx
  src/modules/dashboard/actionTypes/task.js
  src/modules/dashboard/components/Inbox/InboxItem.css
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
  src/modules/dashboard/components/Task/TaskInviteDialog.jsx
  src/modules/dashboard/components/TaskEditDialog/Payout.jsx
  src/modules/dashboard/sagas/task.js
  src/modules/pages/components/NavigationWrapper/UserNavigation.css
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Adjust flow types
  src/modules/dashboard/actionCreators/task.js
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Task/TaskInviteDialog.jsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Apply multisig and add new actioncreator
  src/dialogComponents.js
  src/modules/dashboard/actionCreators/task.js
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
  src/modules/dashboard/components/Task/TaskInviteDialog.jsx
  src/modules/dashboard/components/TaskEditDialog/Payout.jsx
  src/modules/dashboard/sagas/task.js
Due: eslint --fix

Add command and query saga effect utils
  src/data/types.js
  src/utils/saga/effects.js
Due: eslint --fix

Better typing and organization
  src/data/constants.js
  src/data/service/commands/colony.js
  src/data/service/commands/schemas.js
  src/data/service/commands/task.js
  src/data/service/commands/user.js
  src/data/service/events/colonies.js
  src/data/service/events/tasks.js
  src/data/service/events/users.js
  src/data/service/events/utils.js
  src/data/service/queries/index.js
  src/data/service/types.js
  src/data/service/utils.js
  src/data/types.js
  src/data/utils.js
  src/utils/saga/effects.js
Due: eslint --fix

Add domain name to DomainCreated event
  src/data/service/events/colonies.js
Due: eslint --fix

Fix colony queries and clean up typing
  src/data/service/queries/index.js
Due: eslint --fix

Data service improvements
  flow-typed/npm/yup_v0.26.x.js
  src/data/service/commands/colony.js
  src/data/service/commands/schemas.js
  src/data/service/commands/task.js
  src/data/service/commands/user.js
  src/data/service/events/colonies.js
  src/data/service/events/schemas.js
  src/data/service/events/tasks.js
  src/data/service/events/users.js
  src/data/service/queries/index.js
  src/data/types.js
  src/data/utils.js
  src/utils/saga/effects.js
  src/utils/yup/index.js
Due: eslint --fix

Fix colony avatar upload saga
  src/modules/dashboard/sagas/colony.js
Due: eslint --fix

Events version defaults to 1
  src/data/constants.js
Due: eslint --fix

Remove unused constants
  src/data/service/queries/index.js
Due: eslint --fix

Fix: circle e2e job run on normal node image
  .circleci/config.yml
Due: none

Add: circleci e2e job pull solc image step
  .circleci/config.yml
Due: none

Add: circle `e2e` job separate provision submodules step
  .circleci/config.yml
Due: none

Path conditions:
  eslint --fix: ((any of: src/**/*.{js,jsx}) or (any of: integration-testing/**/*.js)) or (any of: cypress/**/*.js)
  stylelint --fix: any of: src/**/*.css
