Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: `GasStationCard` expanded view elements formatting
  src/modules/dashboard/components/GasStation/GasStation.jsx
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Refactor: `GasStationCard` status display logic
  src/modules/dashboard/components/GasStation/GasStation.css
  src/modules/dashboard/components/GasStation/GasStation.jsx
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` actions list
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
Due: stylelint --fix

Add: `GasStationCard` top-level transactions info tooltips
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Fix: `GasStation` remove reliance on nanoid
  src/modules/dashboard/components/GasStation/GasStation.jsx
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix

Refactor: `GasStationCard` use `UserMention` for tooltips
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` dependent actions
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
  src/types/transaction.js
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` cancel actions element
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Add: `check-mark` icon graphic
  src/img/icons/check-mark.svg
  src/modules/core/components/Icon/icons.json
Due: none

Add: `GasStationCard` peding state actions
  src/i18n/en.json
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` completed state actions
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` multisig state actions
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
  src/types/transaction.js
Due: eslint --fix, stylelint --fix

Add: `GasStationCard` failed action state
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Refactor: `GasStationCard` as a statefull component
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix

Refactor: `GasStationCard` for better code readability
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix

Add: `GasStationCard` cancel action interactivity
  src/i18n/en.json
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
  src/modules/dashboard/components/Wallet/__datamocks__/mockTransactions.js
Due: eslint --fix, stylelint --fix

Add: `GasStation` switch between expanded and summary
  src/modules/dashboard/components/GasStation/GasStation.css
  src/modules/dashboard/components/GasStation/GasStation.jsx
Due: eslint --fix, stylelint --fix

Fix: `GasStation` add `GasStationClaimCard` after refactor
  src/modules/dashboard/components/GasStation/GasStation.jsx
Due: eslint --fix

Fix: `GasStationClaimCard` darker heading title
  src/modules/dashboard/components/GasStation/GasStationClaimCard/GasStationClaimCard.css
Due: stylelint --fix

Refactor: `GasStationClaimCard` better dismiss
  src/modules/dashboard/components/GasStation/GasStationClaimCard/GasStationClaimCard.css
  src/modules/dashboard/components/GasStation/GasStationClaimCard/GasStationClaimCard.jsx
Due: eslint --fix, stylelint --fix

Fix: `GasStationCard` better styles change explenantion
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
Due: stylelint --fix

Fix: `GasStationCard` comments typos and leftovers
  src/modules/dashboard/components/GasStation/GasStation.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix, stylelint --fix

Fix: `GasStation` remove unneeded `key` prop on card
  src/modules/dashboard/components/GasStation/GasStation.jsx
Due: eslint --fix

Fix: `GasStationCard` replace unreadable size with var
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.css
Due: stylelint --fix

Remove: etherscan name internationalization
  src/i18n/en.json
  src/modules/dashboard/components/GasStation/GasStationCard/GasStationCard.jsx
Due: eslint --fix

Fix: `GasStationClaimCard` darker text color
  src/modules/dashboard/components/GasStation/GasStationClaimCard/GasStationClaimCard.css
  src/modules/dashboard/components/GasStation/GasStationClaimCard/GasStationClaimCard.jsx
Due: eslint --fix, stylelint --fix

Refactor: `GasStation` claim card only in expanded view
  src/modules/dashboard/components/GasStation/GasStation.jsx
Due: eslint --fix

Fix colony access controller address
  src/lib/database/accessControllers/ColonyAccessController.js
Due: eslint --fix

Fix wallet access controller address
  src/lib/database/accessControllers/EthereumWalletAccessController.js
Due: eslint --fix

Fix access controller flow type
  src/lib/database/types/AccessController.js
Due: eslint --fix

Wire worker submit work button on Task
  package.json
  src/modules/dashboard/actionCreators/index.js
  src/modules/dashboard/actionTypes/index.js
  src/modules/dashboard/actionTypes/task.js
  src/modules/dashboard/components/Task/DialogActionButton.jsx
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/modules/dashboard/components/TaskRatingDialogs/ManagerRatingDialog.jsx
  src/modules/dashboard/sagas/index.js
  src/modules/dashboard/sagas/task.js
  yarn.lock
Due: eslint --fix

Wire manager end task button on Task
  src/modules/dashboard/actionCreators/index.js
  src/modules/dashboard/actionTypes/task.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/TaskRatingDialogs/ManagerRatingDialog.jsx
  src/modules/dashboard/components/TaskRatingDialogs/WorkerRatingDialog.jsx
  src/modules/dashboard/sagas/task.js
  src/utils/saga/effects.js
Due: eslint --fix

Add Task counter-party rating dialog wiring
  src/modules/dashboard/actionCreators/index.js
  src/modules/dashboard/actionTypes/task.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/sagas/task.js
  src/utils/saga/effects.js
Due: eslint --fix

Use TaskRecord for Task
  src/modules/core/components/Assignment/Assignment.jsx
  src/modules/core/components/PayoutsList/PayoutsList.jsx
  src/modules/dashboard/components/Task/Task.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/modules/dashboard/records/Task.js
  src/modules/dashboard/records/constants.js
  src/modules/dashboard/records/index.js
  src/types/TaskRecord.js
Due: eslint --fix

Refactor DialogActionButton to remove use of ActionForm, move to core
  src/modules/core/components/Button/DialogActionButton.jsx
  src/modules/core/components/Button/index.js
  src/modules/dashboard/components/Task/DialogActionButton.jsx
  src/modules/dashboard/components/Task/Task.jsx
Due: eslint --fix

Bring the validations in line with their translations
  src/i18n/en-validation.json
  src/modules/validations.js
Due: eslint --fix

Use flow block annotation style and enforce it
  .eslintrc
  src/modules/admin/components/Tokens/TokenList.jsx
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
  src/modules/dashboard/components/Task/Payout.jsx
Due: eslint --fix

Disable max-len rule for import and export statements
  .eslintrc
  src/createPromiseListener.js
  src/dialogComponents.js
  src/lib/database/schemas.js
  src/modules/core/actionTypes/transactions.js
  src/modules/core/components/UserAvatar/UserAvatar.jsx
  src/modules/core/sagas/utils/getDDB.js
  src/modules/dashboard/actionTypes/colony.js
  src/modules/users/actionTypes/walletActionTypes.js
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Improve debuggability of unexpected transaction errors
  src/modules/core/sagas/transactions/sendMethodTransaction.js
Due: eslint --fix

Use store blueprints to create stores
  integration-testing/DDB.test.js
  integration-testing/FeedStore.test.js
  integration-testing/KVStore.test.js
  src/context/DDBContext.js
  src/lib/database/DDB.js
  src/lib/database/accessControllers/index.js
  src/lib/database/index.js
  src/lib/database/schemas.js
  src/lib/database/stores/FeedStore.js
  src/lib/database/stores/KVStore.js
  src/lib/database/stores/Store.js
  src/lib/database/stores/__tests__/FeedStore.test.js
  src/lib/database/stores/__tests__/KVStore.test.js
  src/lib/database/types/index.js
  src/modules/core/sagas/utils/getDDB.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/stores/colonyStore.js
  src/modules/dashboard/stores/index.js
  src/modules/dashboard/stores/userActivityStore.js
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
  src/modules/users/sagas/userSagas.js
  src/modules/users/stores/index.js
  src/modules/users/stores/userProfileStore.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx}) or (any of: integration-testing/**/*.js)
  stylelint --fix: any of: src/**/*.css
