Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

Fix: `StepHardware` variable naming spelling error
  src/modules/users/components/ConnectWalletWizard/StepHardware/StepHardware.jsx
Due: yarn lint

Fix top margin on wallet connect wizard steps
  src/modules/users/components/ConnectWalletWizard/StepHardware/StepHardware.css
  src/modules/users/components/ConnectWalletWizard/StepJSONUpload/StepJSONUpload.css
  src/modules/users/components/ConnectWalletWizard/StepMetaMask/StepMetaMask.css
  src/modules/users/components/ConnectWalletWizard/StepMnemonic/StepMnemonic.css
Due: yarn stylelint

Implement seen/unseen UI behaviour for inbox items
  src/modules/dashboard/components/Inbox/Inbox.css
  src/modules/dashboard/components/Inbox/Inbox.jsx
  src/modules/dashboard/components/Inbox/InboxItem.css
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
  src/modules/dashboard/components/Inbox/types.js
Due: yarn lint, yarn stylelint

Implement all inbox events, additional data, and sorting
  src/modules/dashboard/components/Inbox/Inbox.css
  src/modules/dashboard/components/Inbox/Inbox.jsx
  src/modules/dashboard/components/Inbox/InboxItem.jsx
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
  src/modules/dashboard/components/Inbox/messages.js
  src/modules/dashboard/components/Inbox/types.js
Due: yarn lint, yarn stylelint

Change default `role` prop from `null` to `dialog` for a11y
  src/modules/core/components/Modal/Modal.jsx
Due: yarn lint

Add `Checkbox` component
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.jsx
  src/modules/core/components/Fields/Checkbox/Checkbox.md
  src/modules/core/components/Fields/Checkbox/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Add `EditTokensModal`, callable from `ColonyTokens`
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint, yarn stylelint

Fix `onChange` behavior with formik values, improve a11y
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.jsx
Due: yarn lint, yarn stylelint

Adjust `Token` datamock structure, only display enabled tokens
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/__datamocks__/mockTokens.js
  src/types/token.js
Due: yarn lint

Add `Formik`, form, and `Checkbox` to `EditTokensModal`
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: yarn lint, yarn stylelint

Update `displayName` and intl messages to reflect new file structure
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint

Remove outline on modal
  src/modules/core/components/Modal/Modal.css
Due: yarn stylelint

Export `Checkbox` with other fields, use new `Form` component
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/core/components/Fields/index.js
Due: yarn lint

Extend type with `FormikProps` & `FormValues`
  src/modules/admin/components/Tokens/EditTokensModal.jsx
Due: yarn lint

Refactor to use Dialog component
  src/App.jsx
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/TokenEditDialog.css
  src/modules/admin/components/Tokens/TokenEditDialog.jsx
  src/modules/admin/components/Tokens/Tokens.js
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/index.js
  src/modules/core/components/Dialog/ConfirmDialog.css
  src/modules/core/components/Dialog/ConfirmDialog.jsx
  src/modules/core/components/Dialog/Dialog.css
Due: yarn lint, yarn stylelint

Update component css module files to use no `@imports`
  src/modules/admin/components/Tokens/TokenEditDialog.css
  src/modules/core/components/Fields/Checkbox/Checkbox.css
Due: yarn stylelint

Remove borders from dialog sections
  src/modules/core/components/Dialog/DialogSection.css
Due: yarn stylelint

Add: admin `TransactionList` initial component
  src/modules/admin/components/TransactionList/TransactionList.css
  src/modules/admin/components/TransactionList/TransactionList.jsx
  src/modules/admin/components/TransactionList/index.js
  src/modules/admin/components/Transactions/Transactions.jsx
Due: yarn lint, yarn stylelint

Add: initial admin `Tramsactions` component
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/admin/components/Transactions/Transactions.css
  src/modules/admin/components/Transactions/Transactions.jsx
  src/modules/admin/components/Transactions/index.js
Due: yarn lint, yarn stylelint

Add: colony transaction types
  src/types/transaction.js
Due: yarn lint

Add: admin `TransactionListItem` subcomponent
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/TransactionList/TransactionListItem.jsx
Due: yarn lint, yarn stylelint

Add: `circle-arrow-back` icon graphic
  src/img/icons/circle-arrow-back.svg
  src/modules/core/components/Icon/icons.json
Due: none

Add: `circle-arrow-down` icon graphic
  src/img/icons/circle-arrow-down.svg
  src/modules/core/components/Icon/icons.json
Due: none

Refactor: better transaction types
  src/types/index.js
  src/types/transaction.js
Due: yarn lint

Add: `TransactionList`'s `TransactionDetails` subcomponent
  src/modules/admin/components/TransactionList/TransactionDetails.css
  src/modules/admin/components/TransactionList/TransactionDetails.jsx
Due: yarn lint, yarn stylelint

Add: admin `Transactions` transaction data mocks
  src/modules/admin/components/Transactions/__datamocks__/transactionMocks.js
Due: yarn lint

Add: `TransactionListItem` subcomponent styles
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/TransactionList/TransactionListItem.jsx
Due: yarn lint, yarn stylelint

Fix: admin `UserList` styles to align to `TransactionList`
  src/modules/admin/components/UserList/UserListItem.css
Due: yarn stylelint

Add: `TransactionDetails` subcomponent styles
  src/modules/admin/components/TransactionList/TransactionDetails.css
  src/modules/admin/components/TransactionList/TransactionDetails.jsx
Due: yarn lint, yarn stylelint

Add: `TransactionList` styles
  src/modules/admin/components/TransactionList/TransactionList.css
  src/modules/admin/components/TransactionList/TransactionList.jsx
Due: yarn lint, yarn stylelint

Add: `TransactionList` etherscan redirect button
  src/modules/admin/components/TransactionList/TransactionList.jsx
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/TransactionList/TransactionListItem.jsx
  src/types/transaction.js
Due: yarn lint, yarn stylelint

Add: `TransactionDetails` subcomponent task name link
  src/modules/admin/components/TransactionList/TransactionDetails.css
  src/modules/admin/components/TransactionList/TransactionDetails.jsx
Due: yarn lint, yarn stylelint

Add: `TransactionList` claim transaction button
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/TransactionList/TransactionListItem.jsx
  src/modules/admin/components/Transactions/__datamocks__/transactionMocks.js
Due: yarn lint, yarn stylelint

Add: wire up `AdminDashboard` with the `Transactions` list
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/admin/components/Transactions/Transactions.jsx
Due: yarn lint

Add: wire up admin `Transaction` component
  src/modules/admin/components/TransactionList/TransactionList.css
  src/modules/admin/components/TransactionList/TransactionList.jsx
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/Transactions/Transactions.css
  src/modules/admin/components/Transactions/Transactions.jsx
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.css
Due: yarn lint, yarn stylelint

Remove: `TransactionList` unneeded styles file
  src/modules/admin/components/TransactionList/TransactionList.css
  src/modules/admin/components/TransactionList/TransactionList.jsx
Due: yarn lint, yarn stylelint

Remove: `Transactions`, `TransactionList` styles @imports
  src/modules/admin/components/TransactionList/TransactionDetails.css
  src/modules/admin/components/TransactionList/TransactionListItem.css
  src/modules/admin/components/Transactions/Transactions.css
Due: yarn stylelint

Fix: `TransactionList` don't show label if no list items
  src/modules/admin/components/TransactionList/TransactionList.jsx
Due: yarn lint

Fix: `TransactionList` display empty list logic
  src/modules/admin/components/Transactions/Transactions.jsx
Due: yarn lint

Fix: `TransactionDetails` better component display naming
  src/modules/admin/components/TransactionList/TransactionDetails.jsx
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
