Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn flow, yarn stylelint, yarn lint:integration

Remove: un-needed / leftover dependencies
  package.json
  yarn.lock
Due: none

Fix: disable eslint checks when importing ganache temp file
  .circleci/config.yml
  integration-testing/utils/setup-accounts-global.js
Due: none

Add: integration tests CI code linting check
  .circleci/config.yml
  package.json
Due: none

Update: `yarn` lock file after rebase
  yarn.lock
Due: none

Fix: CI integration tests lint before testing
  .circleci/config.yml
Due: none

Fix: disable integration testing manual imports linting
  integration-testing/utils/network-client-helpers.js
  integration-testing/utils/setup-accounts-global.js
Due: none

Fix: manualy check `flow` before precommit
  .flowconfig
  .huskyrc
  .lintstagedrc
  integration-testing/utils/network-client-helpers.js
  src/modules/core/components/Fields/Field/Field.jsx
  src/modules/core/components/Fields/FieldRow/FieldRow.jsx
Due: yarn lint, yarn flow

chore(package): update lockfile
  yarn.lock
Due: none

wip
  package.json
Due: none

Add: User Profiles structure
  src/App.jsx
  src/modules/pages/components/Profiles/Profiles.css
  src/modules/pages/components/Profiles/Profiles.js
  src/modules/pages/components/Profiles/Profiles.jsx
  src/modules/pages/components/Profiles/__tests__/Profiles.test.js
  src/modules/pages/components/Profiles/index.js
  src/modules/profiles/components/CreateProfile/CreateProfile.css
  src/modules/profiles/components/CreateProfile/CreateProfile.js
  src/modules/profiles/components/CreateProfile/CreateProfile.jsx
  src/modules/profiles/components/CreateProfile/__tests__/CreateProfile.test.js
  src/modules/profiles/components/CreateProfile/index.js
  src/modules/profiles/components/MyProfile/MyProfile.css
  src/modules/profiles/components/MyProfile/MyProfile.js
  src/modules/profiles/components/MyProfile/MyProfile.jsx
  src/modules/profiles/components/MyProfile/__tests__/MyProfile.test.js
  src/modules/profiles/components/MyProfile/index.js
  src/modules/profiles/components/ViewProfile/ViewProfile.css
  src/modules/profiles/components/ViewProfile/ViewProfile.js
  src/modules/profiles/components/ViewProfile/ViewProfile.jsx
  src/modules/profiles/components/ViewProfile/__tests__/ViewProfile.test.js
  src/modules/profiles/components/ViewProfile/index.js
Due: yarn lint, yarn flow, yarn stylelint, yarn lint:integration

Start the reducers
  src/data/__tests__/reducer.test.js
  src/data/__tests__/sagas.test.js
  src/data/reducer.js
  src/data/sagas.js
Due: yarn lint, yarn flow, yarn lint:integration

Add: User Profile reducer basics
  src/data/__tests__/reducer.test.js
  src/data/reducer.js
Due: yarn lint, yarn flow, yarn lint:integration

Bind wizard functions to component instance
  src/modules/core/components/Wizard/Wizard.js
Due: yarn lint, yarn flow, yarn lint:integration

Rename to colonyJS
  .eslintignore
  .flowconfig
  .gitmodules
  .lintstagedrc
  integration-testing/utils/integration-testing-setup.js
  integration-testing/utils/network-client-helpers.js
  jest.conf.json
  scripts/provision_submodules.sh
  webpack.config.dev.js
Due: none

Fix: network client integration tests disable eslint rule
  integration-testing/network-client.test.js
Due: none

Fix: remove extraneous git submodules entry
  .gitmodules
Due: none

Upgrade: `node` to latest `9.10` branch release
  .circleci/config.yml
  .nvmrc
  package.json
  yarn.lock
Due: none

Fix: integration testing pre-commit lint
  .lintstagedrc
Due: none

Disable: `yarn` version restrictions
  package.json
Due: none

Fix: linting errors in `src` (per new linting rules)
  src/data/index.js
  src/lib/Web3Provider.js
  src/lib/Web3Signer.js
  src/modules/core/components/AsyncComponentLoader/AsyncComponentLoader.jsx
  src/modules/core/components/Fields/Field/Field.jsx
  src/modules/core/components/Fields/FieldRow/FieldRow.jsx
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/StandaloneField/StandaloneField.jsx
  src/modules/core/components/Wizard/Wizard.js
Due: yarn lint, yarn flow, yarn lint:integration

Fix: integration tests linting errors (per new linting rules)
  integration-testing/utils/DDBTestFactory.js
Due: none

Update: `yarn` lock file
  yarn.lock
Due: none

Fix: react linting errors (per new linting rules)
  .eslintrc
  package.json
  src/modules/core/components/Button/Button.jsx
  src/modules/core/components/Fields/Field/Field.jsx
  src/modules/core/components/Fields/Field/__tests__/Field.test.js
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Wizard/Wizard.js
  src/modules/core/components/Wizard/__tests__/Wizard.test.js
  yarn.lock
Due: yarn lint, yarn flow, yarn lint:integration

Update: core `Button` component snapshot
  src/modules/core/components/Button/__tests__/__snapshots__/Button.test.js.snap
Due: none

Refactor: integration tests network client helpers
  integration-testing/utils/network-client-helpers.js
Due: none

Add: get an exisitng task integration test
  integration-testing/tasks.test.js
Due: none

Add: create new task integration test
  integration-testing/tasks.test.js
Due: none

Refactor: split up task workflow inteagration tests
  integration-testing/tasks.test.js
  integration-testing/tasks/task-create.test.js
  integration-testing/tasks/task-get.test.js
  integration-testing/tasks/task-roles.test.js
Due: none

Add: set/get task roles integration test
  integration-testing/tasks.test.js
Due: none

Refactor: split up task workflow inteagration tests
  integration-testing/tasks.test.js
Due: none

Update: colony client lib to the latest version
  integration-testing/data/UserProfile.test.js
  integration-testing/data/ipfs.test.js
  integration-testing/data/orbitdb.test.js
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn flow: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: src/**/*.js
