Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx}": [
      "yarn lint",
      "git add"
    ],
    "src/**/*.css": [
      "yarn stylelint",
      "git add"
    ],
    "integration-testing/**/*.js": [
      "yarn lint:integration",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Update: `wallet` icon svg graphic
  src/img/icons/wallet.svg
Due: none

Adds method to clear IPFS and OrbitDB folder
  integration-testing/data/dataReducer.test.js
  src/actions/index.js
  src/data/index.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Breaks constants and actions into separate files
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
Due: yarn lint, yarn lint:integration

Add test and method to get domains from a colony
  integration-testing/data/Colony.test.js
  src/data/orbit/Colony.js
Due: yarn lint, yarn lint:integration

Add: wallet context basic update methods
  src/context/walletContext.js
Due: yarn lint

Add: redux wallet action types
  src/actions/types.js
Due: yarn lint

Adds: path to add domain to colony (test, action, reducer, saga)
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Updates schema for UserProfile
  src/data/orbit/UserProfile.js
Due: yarn lint

Adds: loadDomain path (test, action, constant, saga, reducer)
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Import and use types correctly in data/index and data/ipfs
  src/data/index.js
  src/data/ipfs/index.js
Due: yarn lint

Refactor: change all reducers to use react-addons-update
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint

Adds test for Data class after starting and putting in Redux
  integration-testing/data/dataReducer.test.js
Due: yarn lint:integration

Adds Pot type, moves/refines other types
  src/data/types.js
Due: yarn lint

Add: wallet `openHardwareWallet` saga and actions
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/__datamocks__/wallet-keystore-test.json
  src/modules/wallet/sagas/wallet.js
Due: yarn lint

Refactor: export actions through index
  src/actions/actionConstants.js
  src/actions/colonyActions.js
  src/actions/constants.js
  src/actions/domainActions.js
  src/actions/index.js
  src/actions/taskActions.js
  src/actions/userActions.js
Due: yarn lint

Cleans colony test file, adds test, augments type properties
  integration-testing/data/Colony.test.js
  src/data/types.js
Due: yarn lint, yarn lint:integration

Fix: Add types to data reducer and profile components
  src/data/reducer.js
  src/modules/pages/components/Profiles/Profiles.jsx
  src/modules/profiles/components/ViewProfile/ViewProfile.js
  src/modules/profiles/components/ViewProfile/ViewProfile.jsx
Due: yarn lint

Create dedicated folders for sagas and reducers, move reducers there
  src/data/sagas.js
  src/reducers/dataReducer.js
  src/reducers/index.js
Due: yarn lint

Adds actions and constants to set individual properties and entire profile
  src/actions/actionConstants.js
  src/actions/userActions.js
Due: yarn lint

Update: `envelope` icon svg graphic
  src/img/icons/envelope.svg
Due: none

Add: User Profiles structure
  src/modules/pages/components/Profiles/Profiles.css
  src/modules/pages/components/Profiles/Profiles.js
  src/modules/pages/components/Profiles/Profiles.jsx
  src/modules/pages/components/Profiles/__tests__/Profiles.test.js
  src/modules/pages/components/Profiles/index.js
  src/modules/profiles/components/CreateProfile/CreateProfile.css
  src/modules/profiles/components/CreateProfile/CreateProfile.js
  src/modules/profiles/components/CreateProfile/CreateProfile.jsx
  src/modules/profiles/components/CreateProfile/__tests__/CreateProfile.test.js
  src/modules/profiles/components/CreateProfile/index.js
  src/modules/profiles/components/MyProfile/MyProfile.css
  src/modules/profiles/components/MyProfile/MyProfile.js
  src/modules/profiles/components/MyProfile/MyProfile.jsx
  src/modules/profiles/components/MyProfile/__tests__/MyProfile.test.js
  src/modules/profiles/components/MyProfile/index.js
  src/modules/profiles/components/ViewProfile/ViewProfile.css
  src/modules/profiles/components/ViewProfile/ViewProfile.js
  src/modules/profiles/components/ViewProfile/ViewProfile.jsx
  src/modules/profiles/components/ViewProfile/__tests__/ViewProfile.test.js
  src/modules/profiles/components/ViewProfile/index.js
Due: yarn lint, yarn stylelint

Adds tests and methods to set and return Domain members and pot
  integration-testing/data/Domain.test.js
  src/data/index.js
  src/data/orbit/Domain.js
Due: yarn lint, yarn lint:integration

Refactor: change constants for profile updates
  src/actions/actionConstants.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint

Adds: path to add task to domain (test, action, saga, reducer)
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Add basic redux + saga structure
  flow-typed/npm/redux-saga_v0.16.x.js
  package.json
  src/App.jsx
  src/actions/constants.js
  src/actions/createColony.js
  src/actions/index.js
  src/helpers/colonyNetwork.js
  src/reducers/colony.js
  src/reducers/index.js
  src/sagas/colony.js
  src/sagas/index.js
  yarn.lock
Due: yarn lint

Add: wallet `openMnemonicWallet` saga
  src/createReduxStore.js
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/reducers/wallet.js
  src/modules/wallet/sagas/index.js
  src/modules/wallet/sagas/wallet.js
Due: yarn lint

Refactors sagas to put UserProfiel sagas at tope and adds getWholeProfile
  src/data/sagas/dataSagas.js
Due: yarn lint

Refactor and fix tests for initial data reducer state
  integration-testing/data/dataReducer.test.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Fix: avoid adding misnamed properties to redux
  src/reducers/dataReducer.js
Due: yarn lint

Fix: Add types to data
  src/data/types.js
Due: yarn lint

Adds test and Data API methods for adding/retrieving a domain to a colony
  integration-testing/data/Colony.test.js
  src/data/index.js
Due: yarn lint, yarn lint:integration

Refactor: Updates integration tests for Colony and Domain API/models
  integration-testing/data/Colony.test.js
  integration-testing/data/Domain.test.js
Due: yarn lint:integration

Adds: test, action, reducer, saga, constant, to set UserProfile content
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/data/__tests__/reducer.test.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Completes moving Redux store instantiation to dedicated file
  src/App.jsx
Due: yarn lint

Adds getMetaColony, getColony, getDomain, draftTask methods to data
  src/data/index.js
Due: yarn lint

Add: simplified task and colony types for UserProfile
  src/data/types.js
Due: yarn lint

Adds test to set user avatar
  integration-testing/data/dataReducer.test.js
Due: yarn lint:integration

Adds: updateDomain to Data API, setProperty to Domain db class
  src/data/index.js
  src/data/orbit/Domain.js
Due: yarn lint

Alias colony model from type, add initialize method to colony model
  src/data/index.js
  src/data/orbit/Colony.js
  src/data/orbit/index.js
Due: yarn lint

Add: `dashboard`, `users`, `wallet` aliases
  .flowconfig
  webpack.config.js
Due: none
