Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

Create sagas files, and set up sagas in Redux creation
  src/sagas/dataSagas.js
  src/sagas/index.js
  src/store.js
Due: yarn lint

Fixes comment addition inside tasks
  integration-testing/data/dataReducer.test.js
  src/reducers/dataReducer.js
Due: yarn lint, yarn lint:integration

Fix: redraw `home` icon to have posive paths
  src/img/icons/home.svg
Due: none

Refactor: slightly modifies Task and User types
  src/data/types.js
Due: yarn lint

Linting changes
  src/data/ipfs/index.js
  src/data/types.js
  src/modules/pages/components/Profiles/Profiles.js
  src/modules/pages/components/Profiles/Profiles.jsx
  src/modules/profiles/components/CreateProfile/CreateProfile.jsx
  src/modules/profiles/components/MyProfile/MyProfile.jsx
Due: yarn lint

Adds basic colony data store and stubs tests
  integration-testing/data/Colony.test.js
  src/data/orbit/Colony.js
Due: yarn lint, yarn lint:integration

Refactors UserProfile to use generalized setter and getter
  src/data/orbit/UserProfile.js
Due: yarn lint

Changes to integration tests, and fix App.jsx after rebase
  integration-testing/data/dataReducer.test.js
  src/App.jsx
Due: yarn lint, yarn lint:integration

Adds types and key parameter to getMyUserProfile, removes unnecessary types
  src/data/index.js
Due: yarn lint

Adds package: react-addons-update
  package.json
Due: none

Update: `home` icon svg graphic
  src/img/icons/home.svg
Due: none

Add: wallet `openMetamaskWallet` saga and actions
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/sagas/wallet.js
Due: yarn lint

Export aliased classes
  src/data/orbit/index.js
Due: yarn lint

Rename: redux constants to types
  src/actions/createColony.js
  src/actions/index.js
  src/actions/types.js
Due: yarn lint

Adds data reducer to root reducer
  src/reducer.js
Due: yarn lint

Add: createReduxStore start dataSagas, and runs initializeData
  src/createReduxStore.js
Due: yarn lint

Start the reducers
  src/data/__tests__/reducer.test.js
  src/data/__tests__/sagas.test.js
  src/data/reducer.js
  src/data/sagas.js
Due: yarn lint

Adds: loadDomain to Data API, allProperties to Domain class
  src/data/index.js
  src/data/orbit/Domain.js
Due: yarn lint

Fix: manually fix `yarn` lock
  yarn.lock
Due: none

Adds: path to fetch a task's comments
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/taskActions.js
  src/data/index.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Refactor: move Data class to own file, exports through data/index
  src/data/Data.js
  src/data/index.js
Due: yarn lint

Add: initial wallet reducer
  src/reducers/index.js
  src/reducers/wallet.js
Due: yarn lint

Adds setColonyAvatar method to Data, addImage method to ipfs
  src/data/index.js
  src/data/ipfs/index.js
Due: yarn lint

Stub tests in Domain.test.js
  integration-testing/data/Domain.test.js
Due: yarn lint:integration

Begins work on adding avatars to IPFS (WIP)
  integration-testing/utils/filereader-polyfill.js
  src/data/index.js
  src/data/ipfs/index.js
Due: yarn lint, yarn lint:integration

Refactor: change intial data setup and loading
  src/actions/index.js
  src/data/__tests__/reducer.test.js
  src/sagas/dataSagas.js
Due: yarn lint

Fix: manually disable eslint rule due to eslint wierdness
  src/modules/core/components/OmniPicker/withOmniPicker.js
Due: yarn lint

Refactor: redux framework is now module-based
  src/actions/types.js
  src/createReduxStore.js
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/index.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/reducers/index.js
  src/modules/wallet/reducers/wallet.js
  src/reducers/colony.js
  src/reducers/index.js
Due: yarn lint

Fix starting IPFS / Data class through saga
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/data/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Refines API: adds comments, removes unnecessary functions, removes type
  src/data/index.js
  src/data/types.js
Due: yarn lint

Adds getDomainTasks and getTasksComments to Data API, changes to other methods
  src/data/index.js
Due: yarn lint

Adds dataReducer.test.js
  integration-testing/data/dataReducer.test.js
Due: yarn lint:integration

Adds getComment and getComments methods
  src/data/index.js
Due: yarn lint

Adds: path to update simple colony properties
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/colonyActions.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Add: wallet `openHardwareWallet` saga and actions
  package.json
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/__mocks__/hardwareWalletMock.js
  src/modules/wallet/components/ConnectWallet/Hardware/types.js
  src/modules/wallet/sagas/wallet.js
  yarn.lock
Due: yarn lint

Fix: `yup` custom validator locale import
  src/modules/validations.js
Due: yarn lint

Refactor: slight change to fetching comments path
  integration-testing/data/dataReducer.test.js
  src/data/index.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Adds UserProfile type
  src/data/types.js
Due: yarn lint

Completes tests and methods to add avatar to colony
  integration-testing/assetsTransformer.js
  integration-testing/data/Colony.test.js
  integration-testing/data/logo.png
  jest-integration.conf.json
  src/data/index.js
  src/data/ipfs/index.js
  src/data/orbit/Colony.js
Due: yarn lint, yarn lint:integration

Changes for linter
  package.json
  src/actions/actionConstants.js
  src/actions/index.js
  src/data/Data.js
  src/data/__tests__/reducer.test.js
  src/data/index.js
  src/data/ipfs/index.js
  src/data/orbit/Colony.js
  src/data/orbit/Domain.js
  src/data/reducers/dataReducer.js
  src/data/reducers/index.js
  src/data/sagas/dataSagas.js
  src/data/sagas/index.js
  yarn.lock
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
