Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

Improve radio input examples with formik
  src/modules/core/components/Fields/RadioInput/RadioInput.md
Due: none

Add fakeCheckbox & colorPicker thems and styles
  src/modules/core/components/Fields/RadioInput/RadioInput.css
  src/modules/core/components/Fields/RadioInput/RadioInput.jsx
  src/modules/core/components/Fields/RadioInput/RadioInput.md
Due: yarn lint, yarn stylelint

Address pseudo-radio accessibility
  src/modules/core/components/Fields/RadioInput/RadioInput.css
  src/modules/core/components/Fields/RadioInput/RadioInput.jsx
  src/modules/core/components/Fields/RadioInput/RadioInput.md
Due: yarn lint, yarn stylelint

Add simple test for radio input
  src/modules/core/components/Fields/RadioInput/__tests__/Radio.test.js
  src/modules/core/components/Fields/RadioInput/__tests__/__snapshots__/Radio.test.js.snap
Due: yarn lint

Rename `RadioInput` component to `Radio`
  src/modules/core/components/Fields/Radio/Radio.css
  src/modules/core/components/Fields/Radio/Radio.jsx
  src/modules/core/components/Fields/Radio/Radio.md
  src/modules/core/components/Fields/Radio/__tests__/Radio.test.js
  src/modules/core/components/Fields/Radio/__tests__/__snapshots__/Radio.test.js.snap
  src/modules/core/components/Fields/Radio/index.js
  src/modules/core/components/Fields/RadioInput/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Add comments about the fakeness of some radio themes
  src/modules/core/components/Fields/Radio/Radio.md
Due: none

Set inputId on componentDidMount instead of each render
  src/modules/core/components/Fields/Radio/Radio.jsx
Due: yarn lint

Move aria attributes from wrapping label to actual input
  src/modules/core/components/Fields/Radio/Radio.jsx
Due: yarn lint

Change `aria-checked` for styling radio to a state className
  src/modules/core/components/Fields/Radio/Radio.css
  src/modules/core/components/Fields/Radio/Radio.jsx
Due: yarn lint, yarn stylelint

Improve Popover component
  src/modules/core/components/Popover/Popover.css
  src/modules/core/components/Popover/Popover.jsx
  src/modules/core/components/Popover/PopoverWrapper.jsx
Due: yarn lint, yarn stylelint

Refactor Input to include InputComponent
  .eslintrc
  src/modules/core/components/Fields/Input/Input.css
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.jsx
  src/modules/core/components/Fields/Input/InputComponent.md
  src/modules/core/components/Fields/Input/index.js
  src/modules/core/components/Fields/Input/types.js
  src/modules/core/components/Fields/asField.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Improve Popover once again
  src/modules/core/components/Popover/Popover.jsx
  src/modules/core/components/Popover/Popover.md
  src/modules/core/components/Popover/index.js
  src/modules/core/components/Popover/types.js
Due: yarn lint

Export Input appearance type
  src/modules/core/components/Fields/Input/InputComponent.jsx
  src/modules/core/components/Fields/Input/index.js
Due: yarn lint

Improve outside click event handling in Popover
  src/modules/core/components/Popover/Popover.jsx
  src/modules/core/components/Popover/index.js
  src/modules/core/components/Popover/types.js
Due: yarn lint

Add DatePicker component
  package.json
  src/modules/core/components/DatePicker/CaptionElement.css
  src/modules/core/components/DatePicker/CaptionElement.jsx
  src/modules/core/components/DatePicker/DatePicker.css
  src/modules/core/components/DatePicker/DatePicker.jsx
  src/modules/core/components/DatePicker/DatePicker.md
  src/modules/core/components/DatePicker/InputField.jsx
  src/modules/core/components/DatePicker/NavbarElement.css
  src/modules/core/components/DatePicker/NavbarElement.jsx
  src/modules/core/components/DatePicker/index.js
  src/modules/core/components/DatePicker/keyTypes.js
  styleguide.config.js
  yarn.lock
Due: yarn lint, yarn stylelint

Fix unconnected DatePicker and add example
  src/modules/core/components/DatePicker/DatePicker.jsx
  src/modules/core/components/DatePicker/DatePicker.md
Due: yarn lint

DatePicker styling fixes
  src/modules/core/components/DatePicker/CaptionElement.css
  src/modules/core/components/DatePicker/DatePicker.css
  src/modules/core/components/DatePicker/DatePicker.jsx
  src/modules/core/components/DatePicker/NavbarElement.css
Due: yarn lint, yarn stylelint

Move things around and fix flow errors
  src/modules/core/components/DatePicker/DatePicker.jsx
  src/modules/core/components/Fields/FileUpload/UploadItem/index.js
  src/modules/core/components/Fields/index.js
  src/modules/core/components/FileUpload/FileUpload.css
  src/modules/core/components/FileUpload/FileUpload.jsx
  src/modules/core/components/FileUpload/FileUpload.md
  src/modules/core/components/FileUpload/UploadItem.css
  src/modules/core/components/FileUpload/UploadItem.jsx
  src/modules/core/components/FileUpload/__tests__/FileUpload.test.js
  src/modules/core/components/FileUpload/__tests__/__snapshots__/FileUpload.test.js.snap
  src/modules/core/components/FileUpload/index.js
  src/modules/core/components/FileUpload/types.js
  src/modules/core/components/Popover/Tooltip.jsx
  styleguide.config.js
Due: yarn lint, yarn stylelint

Simplify FileUploader, make it more flexible
  src/modules/core/components/FileUpload/FileUpload.css
  src/modules/core/components/FileUpload/FileUpload.jsx
  src/modules/core/components/FileUpload/__tests__/__snapshots__/FileUpload.test.js.snap
Due: yarn lint, yarn stylelint

Improve FileUpload, make it ready for the AvatarUploader
  src/modules/core/components/FileUpload/FileUpload.css
  src/modules/core/components/FileUpload/FileUpload.jsx
  src/modules/core/components/FileUpload/FileUpload.md
  src/modules/core/components/FileUpload/UploadItem.jsx
  src/modules/core/components/FileUpload/index.js
  src/modules/core/components/FileUpload/types.js
Due: yarn lint, yarn stylelint

Add AvatarUploader
  src/i18n/en.json
  src/modules/core/components/Avatar/Avatar.jsx
  src/modules/core/components/AvatarUploader/AvatarUploadItem.css
  src/modules/core/components/AvatarUploader/AvatarUploadItem.jsx
  src/modules/core/components/AvatarUploader/AvatarUploader.css
  src/modules/core/components/AvatarUploader/AvatarUploader.jsx
  src/modules/core/components/AvatarUploader/AvatarUploader.md
  src/modules/core/components/AvatarUploader/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

first example of toaster bar (WIP)
  src/modules/core/components/Dialog/ToasterBar.css
  src/modules/core/components/Dialog/ToasterBar.jsx
  src/modules/core/components/Dialog/ToasterBar.md
  src/modules/core/components/Modal/Modal.css
  src/styles/variables.css
  styleguide.config.js
Due: yarn lint, yarn stylelint

added example toaster bar
  src/modules/core/components/ToasterBar/ToasterBarExample.md
Due: none

fix ToasterBar overlay states and interactivity
  src/modules/core/components/Dialog/ToasterBar.css
  src/modules/core/components/Dialog/ToasterBar.jsx
  src/modules/core/components/Dialog/ToasterBar.md
  src/modules/core/components/Dialog/ToasterBarExample.jsx
  src/modules/core/components/Modal/Modal.css
Due: yarn lint, yarn stylelint

moving ToasterBar in own Component
  src/modules/core/components/Dialog/ToasterBar.md
  src/modules/core/components/Dialog/ToasterBarExample.jsx
  src/modules/core/components/ToasterBar/ToasterBar.css
  src/modules/core/components/ToasterBar/ToasterBar.jsx
  src/modules/core/components/ToasterBar/ToasterBar.md
  src/modules/core/components/ToasterBar/ToasterBarComponent.jsx
  src/modules/core/components/ToasterBar/ToasterBarExample.jsx
  src/modules/core/components/ToasterBar/interactionAware.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

fix linting issues
  src/modules/core/components/ToasterBar/ToasterBarExample.jsx
  src/modules/core/components/ToasterBar/interactionAware.js
Due: yarn lint

renamed ToasterBar to ActivityBar, refactoring
  src/modules/core/components/ActivityBar/ActivityBar.css
  src/modules/core/components/ActivityBar/ActivityBar.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.md
  src/modules/core/components/Modal/Modal.css
  src/modules/core/components/ToasterBar/ToasterBar.jsx
  src/modules/core/components/ToasterBar/ToasterBarComponent.jsx
  src/modules/core/components/ToasterBar/ToasterBarExample.jsx
  src/modules/core/components/ToasterBar/ToasterBarExample.md
  src/modules/core/components/ToasterBar/interactionAware.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

working on documentation
  src/modules/core/components/ActivityBar/ActivityBar.jsx
  src/modules/core/components/ActivityBar/ActivityBar.md
  src/modules/core/components/ActivityBar/ActivityBarComponent.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.md
Due: yarn lint

fix stylelint
  src/styles/variables.css
Due: yarn stylelint

remove ActivityBarComponent, styleguide cleanup
  src/modules/core/components/ActivityBar/ActivityBar.jsx
  src/modules/core/components/ActivityBar/ActivityBar.md
  src/modules/core/components/ActivityBar/ActivityBarComponent.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.jsx
  styleguide.config.js
Due: yarn lint

css variables fix
  src/modules/core/components/ActivityBar/ActivityBar.css
  src/styles/variables.css
Due: yarn stylelint

cleanup of ActivityBar, exporting types from Dialog
  src/modules/core/components/ActivityBar/ActivityBar.jsx
  src/modules/core/components/Dialog/index.js
Due: yarn lint

cleaner default props
  src/modules/core/components/ActivityBar/ActivityBar.jsx
Due: yarn lint

re-add close prop
  src/modules/core/components/ActivityBar/ActivityBar.jsx
Due: yarn lint

Add basic tabs components
  package.json
  src/modules/core/components/Tabs/Tab.css
  src/modules/core/components/Tabs/Tab.jsx
  src/modules/core/components/Tabs/TabList.css
  src/modules/core/components/Tabs/TabList.jsx
  src/modules/core/components/Tabs/TabPanel.css
  src/modules/core/components/Tabs/TabPanel.jsx
  src/modules/core/components/Tabs/Tabs.css
  src/modules/core/components/Tabs/Tabs.jsx
  src/modules/core/components/Tabs/Tabs.md
  src/modules/core/components/Tabs/index.js
  styleguide.config.js
  yarn.lock
Due: yarn lint, yarn stylelint

Add styling for tabs
  src/modules/core/components/Tabs/Tab.css
  src/modules/core/components/Tabs/Tab.jsx
  src/modules/core/components/Tabs/TabList.css
  src/modules/core/components/Tabs/TabList.jsx
  src/modules/core/components/Tabs/TabPanel.css
  src/modules/core/components/Tabs/TabPanel.jsx
  src/modules/core/components/Tabs/Tabs.css
  src/modules/core/components/Tabs/Tabs.jsx
  src/modules/core/components/Tabs/Tabs.md
  src/styles/variables.css
  styleguide.config.js
Due: yarn lint, yarn stylelint

Fix Tab docs
  src/modules/core/components/Tabs/Tabs.md
Due: none

use button and icon module
  src/modules/core/components/Icon/Icon.js
  webpack.config.js
  yarn.lock
Due: yarn lint

Create basic components
  src/modules/wallet/components/WalletStart/WalletStart.css
Due: yarn stylelint

add all rows to login options
  yarn.lock
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
