Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add balance to TokenReference, fetch when loading a Colony
  src/data/service/queries/colonies.js
  src/immutable/Colony.js
  src/modules/admin/components/Tokens/Tokens.js
  src/modules/dashboard/reducers/allTokens.js
  src/modules/dashboard/reducers/coloniesReducer.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/sagas/token.js
  src/redux/actions.js
  src/redux/types/actions/colony.js
  src/utils/web3/contracts/TokenABI.json
  src/utils/web3/contracts/index.js
  src/utils/web3/contracts/tokens.js
Due: eslint --fix

Respond to review comments
  src/data/service/queries/colonies.js
  src/modules/admin/components/Tokens/Tokens.js
  src/modules/dashboard/components/Wallet/Wallet.js
  src/modules/dashboard/reducers/allTokens.js
  src/modules/dashboard/reducers/coloniesReducer.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/selectors/tokens.js
  src/redux/types/actions/colony.js
  src/utils/web3/constants.js
Due: eslint --fix

Remove GasStationFooter
  src/modules/core/components/Alert/Alert.css
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.jsx
  src/modules/users/components/GasStation/GasStationFooter/GasStationFooter.css
  src/modules/users/components/GasStation/GasStationFooter/GasStationFooter.js
  src/modules/users/components/GasStation/GasStationFooter/GasStationFooter.jsx
  src/modules/users/components/GasStation/GasStationFooter/index.js
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.css
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.js
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.jsx
Due: eslint --fix, stylelint --fix

Add: `NavigationWrapper` mainnet alert banner
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.css
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
Due: eslint --fix, stylelint --fix

Add: `pages` module constants file
  src/modules/pages/constants.js
Due: eslint --fix

Add: `NavigationWrapper` control alert banner local storage
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
Due: eslint --fix

Refactor: `isBannerDismissed`, `dismissBanner` as utils
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
  src/utils/localStorage/index.js
  src/utils/localStorage/mainnetBannerAlert.js
Due: eslint --fix

Remove: un-needed `localStorage` banner utils
  src/utils/localStorage/index.js
  src/utils/localStorage/mainnetBannerAlert.js
Due: eslint --fix

Fix: `NavigationWrapper` toggle mainnet alert based on user
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
  src/modules/pages/constants.js
Due: eslint --fix

Rename setupUserSagas and walletSagas
  src/modules/users/sagas/index.js
  src/modules/users/sagas/user.js
  src/modules/users/sagas/wallet.js
Due: eslint --fix

Fetch ADMIN and FOUNDER permissions, add canCreateTask selector
  src/data/service/queries/users.js
  src/immutable/UserPermissions.js
  src/modules/users/selectors/users.js
Due: eslint --fix

Use canCreateTask in ColonyHome, add ttl to permissions fetcher
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
  src/modules/users/fetchers.js
Due: eslint --fix

Only admins can create tasks
  src/modules/users/selectors/users.js
Due: eslint --fix

Update TaskRequestWork component
  src/dialogComponents.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/TaskRequestWork/TaskRequestWork.css
  src/modules/dashboard/components/TaskRequestWork/TaskRequestWork.jsx
  src/modules/dashboard/components/TaskRequestWork/TaskRequestWorkDialog.jsx
Due: eslint --fix, stylelint --fix

Add back mock inbox items and fix inbox empty state
  src/modules/dashboard/components/Inbox/Inbox.css
  src/modules/dashboard/components/Inbox/__datamocks__/mockInbox.js
Due: eslint --fix, stylelint --fix

Fix: `NavigationWrapper` useless props type export
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
Due: eslint --fix

Add: core `Alert` component border radius appearance props
  src/modules/core/components/Alert/Alert.css
  src/modules/core/components/Alert/Alert.md
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.jsx
Due: eslint --fix, stylelint --fix

Fix: `NavigationWrapper` alert better close icon alignment
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.css
Due: stylelint --fix

Prepare Popover for extraction
  src/App.jsx
  src/modules/core/components/DatePicker/DatePicker.jsx
  src/modules/core/components/Popover/Popover.jsx
  src/modules/core/components/Popover/PopoverProvider.jsx
  src/modules/core/components/Popover/PopoverProvider.md
  src/modules/core/components/Popover/PopoverWrapper.jsx
  src/modules/core/components/Popover/RegisteredPopover.jsx
  src/modules/core/components/Popover/RegisteredPopover.md
  src/modules/core/components/Popover/Tooltip.jsx
  src/modules/core/components/Popover/index.js
  src/modules/core/components/Popover/types.js
  src/modules/core/components/Popover/withPopoverControls.js
  src/modules/users/components/GasStation/GasStationPopover.jsx
Due: eslint --fix

Remove onClick handler
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
Due: eslint --fix

Move tasks to dashboard
  src/createRootReducer.js
  src/immutable/state/dashboard/index.js
  src/immutable/state/index.js
  src/immutable/state/tasks/index.js
  src/modules/dashboard/components/Task/Task.js
  src/modules/dashboard/constants.js
  src/modules/dashboard/reducers/index.js
  src/modules/dashboard/reducers/task.js
  src/modules/dashboard/reducers/tasks.js
  src/modules/dashboard/sagas/task.js
  src/modules/dashboard/selectors/index.js
  src/modules/dashboard/selectors/tasks.js
  src/redux/reducers/index.js
  src/redux/selectors/index.js
Due: eslint --fix

Fix: `TokenCard` set max width
  src/modules/admin/components/Tokens/TokenCard.css
Due: stylelint --fix

Use nanoid for comment
  src/modules/dashboard/sagas/task.js
Due: eslint --fix

Fix closed/open selectors
  src/modules/dashboard/selectors/tasks.js
Due: eslint --fix

Improve comments
  src/data/service/queries/tasks.js
  src/data/service/queries/users.js
  src/data/service/reducers/task.js
  src/data/types/queries.js
  src/modules/core/sagas/setupUserContext.js
  src/modules/dashboard/sagas/task.js
Due: eslint --fix

Rename command/no conflict
  src/data/service/commands/user.js
Due: eslint --fix

Rename event reducers
  src/data/service/queries/colonies.js
  src/data/service/queries/tasks.js
  src/data/service/reducers/colony.js
  src/data/service/reducers/task.js
  src/redux/types/actions/colony.js
Due: eslint --fix

Store token name/symbol
  src/data/service/commands/colony.js
  src/data/service/commands/schemas.js
  src/data/service/reducers/colony.js
  src/data/types/ColonyEvents.js
  src/modules/dashboard/sagas/colony.js
Due: eslint --fix

Freeze state constant
  src/immutable/constants.js
Due: eslint --fix

Add: admin `Tokens` manual appearance column number
  src/modules/admin/components/Tokens/Tokens.jsx
Due: eslint --fix

Show actual username in ens input field
  src/modules/users/components/ENSNameDialog/ENSNameDialog.jsx
Due: eslint --fix

Pass in tx params to GasStation title and description
  src/modules/users/components/GasStation/TransactionCard/TransactionCard.jsx
  src/modules/users/components/GasStation/transactionGroup.js
Due: eslint --fix

Add some example values to messages
  src/i18n/en.json
Due: none

Path conditions:
  eslint --fix: ((any of: src/**/*.{js,jsx}) or (any of: integration-testing/**/*.js)) or (any of: cypress/**/*.js)
  stylelint --fix: any of: src/**/*.css
