Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

Split up transactions saga utils
  src/modules/core/sagas/utils/methodSagaFactory.js
  src/modules/core/sagas/utils/sendMethodTransaction.js
  src/modules/core/sagas/utils/sendTransaction.js
  src/modules/core/utils/transactions.js
Due: yarn lint

Add transactions selectors
  src/modules/core/selectors/index.js
  src/modules/core/selectors/transactions.js
Due: yarn lint

Fix import path
  src/modules/core/sagas/networkClient.js
Due: yarn lint

Default namespaces
  src/modules/core/actionTypes/networkClient.js
  src/modules/core/actionTypes/transactions.js
  src/modules/core/namespace.js
  src/modules/core/selectors/transactions.js
  src/modules/dashboard/actionTypes/colony.js
  src/modules/dashboard/namespace.js
Due: yarn lint

Fix flow issues
  package.json
  src/modules/core/reducers/transactions.js
  src/modules/core/sagas/utils/methodSagaFactory.js
  src/modules/core/sagas/utils/sendMethodTransaction.js
  src/modules/core/selectors/transactions.js
  src/modules/core/types.js
  yarn.lock
Due: yarn lint

No longer use `ConfirmDialog` for dialog with form
  src/modules/admin/components/Tokens/TokenEditDialog.css
  src/modules/admin/components/Tokens/TokenEditDialog.jsx
  src/modules/core/components/Dialog/ConfirmDialog.css
  src/modules/core/components/Dialog/ConfirmDialog.jsx
  src/modules/core/components/Dialog/Dialog.css
  src/modules/core/components/Dialog/Dialog.jsx
  src/modules/core/components/Dialog/types.js
  src/modules/core/components/Dialog/withDialog.js
  src/modules/core/components/Wizard/withWizard.js
  src/modules/validations.js
Due: yarn lint, yarn stylelint

Correct Saga type
  src/modules/core/sagas/networkClient.js
  src/modules/core/sagas/utils/methodSagaFactory.js
Due: yarn lint

Make Reducers Immutable Again
  src/modules/core/reducers/transactions.js
Due: yarn lint

Add `Checkbox` component
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.jsx
  src/modules/core/components/Fields/Checkbox/Checkbox.md
  src/modules/core/components/Fields/Checkbox/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Add `EditTokensModal`, callable from `ColonyTokens`
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint, yarn stylelint

Change default `role` prop from `null` to `dialog` for a11y
  src/modules/core/components/Modal/Modal.jsx
Due: yarn lint

Fix `onChange` behavior with formik values, improve a11y
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.jsx
Due: yarn lint, yarn stylelint

Adjust `Token` datamock structure, only display enabled tokens
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/__datamocks__/mockTokens.js
  src/types/token.js
Due: yarn lint

Remove outline on modal
  src/modules/core/components/Modal/Modal.css
Due: yarn stylelint

Add `Formik`, form, and `Checkbox` to `EditTokensModal`
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: yarn lint, yarn stylelint

Update `displayName` and intl messages to reflect new file structure
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint

Export `Checkbox` with other fields, use new `Form` component
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/core/components/Fields/index.js
Due: yarn lint

Extend type with `FormikProps` & `FormValues`
  src/modules/admin/components/Tokens/EditTokensModal.jsx
Due: yarn lint

Refactor to use Dialog component
  src/App.jsx
  src/modules/admin/components/Tokens/EditTokensModal.css
  src/modules/admin/components/Tokens/EditTokensModal.jsx
  src/modules/admin/components/Tokens/TokenEditDialog.css
  src/modules/admin/components/Tokens/TokenEditDialog.jsx
  src/modules/admin/components/Tokens/Tokens.js
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/index.js
  src/modules/core/components/Dialog/ConfirmDialog.css
  src/modules/core/components/Dialog/ConfirmDialog.jsx
  src/modules/core/components/Dialog/Dialog.css
Due: yarn lint, yarn stylelint

Update component css module files to use no `@imports`
  src/modules/admin/components/Tokens/TokenEditDialog.css
  src/modules/core/components/Fields/Checkbox/Checkbox.css
Due: yarn stylelint

Remove borders from dialog sections
  src/modules/core/components/Dialog/DialogSection.css
Due: yarn stylelint

Remove `withHandlers` composition, make `Tokens.jsx` a class component
  src/modules/admin/components/Tokens/Tokens.js
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint

Use htmlType to handle submitting form
  src/modules/admin/components/Tokens/TokenEditDialog.jsx
Due: yarn lint

Take over some basic styles from beta for task creation
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
  src/modules/dashboard/components/TaskCreation/TaskCreation.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUser.js
  src/modules/dashboard/components/TaskCreation/index.js
  src/routes/Routes.jsx
  src/routes/routeConstants.js
Due: yarn lint, yarn stylelint

Add navigation elements
  src/modules/dashboard/components/TaskCreation/TaskCreation.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
Due: yarn lint, yarn stylelint

Add Placeholder for editing title description and other details
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
Due: yarn lint, yarn stylelint

Allow only admin to create new task
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
  src/modules/dashboard/components/ColonyHome/__datamocks__/mockUser.js
  src/modules/dashboard/components/TaskCreation/TaskCreation.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUser.js
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUsers.js
Due: yarn lint, yarn stylelint

Hide some functionalities for non-task-creators
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.jsx
  src/modules/core/components/Fields/InputLabel/InputLabel.jsx
  src/modules/core/components/Fields/InputStatus/InputStatus.jsx
  src/modules/dashboard/components/TaskCreation/TaskCreation.css
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockTask.js
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUser.js
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUsers.js
  src/routes/Routes.jsx
  src/types/user.js
Due: yarn lint, yarn stylelint

Adjust styles to design rather than take it over from Beta and rename files
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.jsx
  src/modules/core/components/Fields/InputLabel/InputLabel.jsx
  src/modules/core/components/Fields/InputStatus/InputStatus.jsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
  src/modules/dashboard/components/Task/Task.css
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/modules/dashboard/components/Task/__datamocks__/mockUser.js
  src/modules/dashboard/components/Task/__datamocks__/mockUsers.js
  src/modules/dashboard/components/Task/index.js
  src/modules/dashboard/components/TaskCreation/TaskCreation.jsx
  src/modules/dashboard/components/TaskCreation/__datamocks__/mockUser.js
  src/modules/dashboard/components/TaskCreation/index.js
  src/routes/Routes.jsx
  src/routes/routeConstants.js
  src/types/user.js
Due: yarn lint, yarn stylelint

Add all components required for the domain tab
  src/modules/admin/components/DomainList/DomainList.css
  src/modules/admin/components/DomainList/DomainList.jsx
  src/modules/admin/components/DomainList/DomainListItem.css
  src/modules/admin/components/DomainList/DomainListItem.jsx
  src/modules/admin/components/DomainList/index.js
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/admin/components/Organizations/__datamocks__/domainMocks.js
  src/routes/Routes.jsx
Due: yarn lint, yarn stylelint

Add correct styles to tab
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/core/components/Button/Button.css
Due: yarn lint, yarn stylelint

Add onChange handler to prevent error in input component
  src/modules/admin/components/DomainList/DomainList.jsx
  src/modules/admin/components/DomainList/DomainListItem.css
  src/modules/admin/components/DomainList/DomainListItem.jsx
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/core/components/Button/Button.css
  src/routes/Routes.jsx
Due: yarn lint, yarn stylelint

Make contributions optional and apply minor style changes
  src/modules/admin/components/DomainList/DomainList.css
  src/modules/admin/components/DomainList/DomainList.jsx
  src/modules/admin/components/DomainList/DomainListItem.css
  src/modules/admin/components/DomainList/DomainListItem.jsx
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/admin/components/Organizations/__datamocks__/domainMocks.js
Due: yarn lint, yarn stylelint

Add: `TaskDomain` dashboard module component
  src/modules/dashboard/components/TaskDomains/TaskDomains.css
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
  src/modules/dashboard/components/TaskDomains/index.js
Due: yarn lint, yarn stylelint

Add: `TaskDomain` show selected domain
  src/modules/dashboard/components/TaskDomains/TaskDomains.css
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
Due: yarn lint, yarn stylelint

Add: `Task` component wired up with `TaskDomains`
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Add: `TaskDomains` domain data mocks
  src/modules/dashboard/components/TaskDomains/__datamocks__/mockDomains.js
Due: yarn lint

Refactor: `TaskDomains` as a stateful component
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
Due: yarn lint

Add: `TaskDomains` display the list of available domains
  src/modules/dashboard/components/TaskDomains/TaskDomains.css
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
Due: yarn lint, yarn stylelint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
