Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ],
    "integration-testing/**/*.js": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.js": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Remove unused command type leftover
  src/data/types/commands.js
Due: eslint --fix

Fix getUserInboxActivity query setup
  src/modules/users/data/queries.js
  src/modules/users/sagas/user.js
  src/redux/types/actions/userActivities.js
Due: eslint --fix

Use source/target user convention for notifications
  src/immutable/UserActivity.js
  src/modules/admin/sagas/index.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/sagas/domains.js
  src/modules/dashboard/sagas/roles.js
  src/modules/dashboard/sagas/task.js
  src/modules/users/components/Inbox/InboxItem/InboxItem.jsx
  src/modules/users/components/Inbox/types.js
  src/modules/users/data/queries.js
Due: eslint --fix

Add: notification events constants file
  src/modules/users/components/Inbox/events.js
Due: eslint --fix

Refactor: notification sagas now use the events constants
  src/modules/admin/sagas/index.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/sagas/domains.js
  src/modules/dashboard/sagas/roles.js
  src/modules/dashboard/sagas/task.js
Due: eslint --fix

Fix: user activities query logs/events after update
  src/modules/users/data/queries.js
Due: eslint --fix

Fix: `colonyCreate` saga notifications after rebase
  src/modules/dashboard/sagas/colony.js
Due: eslint --fix

Fix: notifications transform now uses event constants
  src/modules/users/data/utils.js
Due: eslint --fix

Fix: user activities query after contract roles change
  src/modules/users/components/Inbox/events.js
  src/modules/users/components/Inbox/messages.js
  src/modules/users/data/queries.js
  src/modules/users/data/utils.js
Due: eslint --fix

Fix: user activities query flow inffer bug
  src/modules/users/data/queries.js
Due: eslint --fix

Fix: `InboxItem` better handle token notifications display
  src/modules/users/components/Inbox/InboxItem/InboxItem.jsx
  src/modules/users/components/Inbox/messages.js
  src/modules/users/components/Inbox/types.js
Due: eslint --fix

Fix: token mint saga notification pass along token address
  src/immutable/UserActivity.js
  src/modules/admin/sagas/index.js
Due: eslint --fix

Add: user notifications query fetch token mintings
  src/modules/users/data/queries.js
  src/modules/users/data/utils.js
Due: eslint --fix

Fix: user notifications query better explain data fetching
  src/modules/users/data/queries.js
Due: eslint --fix

Ghetto store reactivity
  src/data/accessControllers/TaskAccessController.js
  src/lib/database/stores/EventStore.js
  src/modules/dashboard/components/TaskFeed/TaskFeed.jsx
  src/modules/dashboard/data/queries/feedItems.js
  src/modules/dashboard/reducers/taskFeedItems.js
  src/modules/dashboard/sagas/task.js
  src/redux/actions.js
  src/utils/saga/effects.js
Due: eslint --fix

Prevent further shortening the stepArray
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
Due: eslint --fix

Remove StepDisplayName
  src/modules/users/components/ConnectWalletWizard/ConnectWalletWizard.js
  src/modules/users/components/ConnectWalletWizard/StepDisplayName/StepDisplayName.css
  src/modules/users/components/ConnectWalletWizard/StepDisplayName/StepDisplayName.jsx
  src/modules/users/components/ConnectWalletWizard/StepDisplayName/index.js
Due: eslint --fix, stylelint --fix

Fix tasks reducer
  src/modules/dashboard/reducers/tasks.js
Due: eslint --fix

Add todo and disable check
  src/data/accessControllers/TaskAccessController.js
Due: eslint --fix

Add 'not set' states
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/TaskDate/TaskDate.css
  src/modules/dashboard/components/TaskDate/TaskDate.jsx
  src/modules/dashboard/components/TaskDomains/TaskDomains.css
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
  src/modules/dashboard/components/TaskSkills/TaskSkills.css
  src/modules/dashboard/components/TaskSkills/TaskSkills.jsx
Due: eslint --fix, stylelint --fix

Fix domains selector
  src/modules/dashboard/selectors/domains.js
Due: eslint --fix

Fix task view logic
  src/modules/dashboard/components/Task/Task.jsx
Due: eslint --fix

Fix task view styles
  src/modules/dashboard/components/TaskDate/TaskDate.css
  src/modules/dashboard/components/TaskDate/TaskDate.jsx
  src/modules/dashboard/components/TaskDomains/TaskDomains.jsx
  src/modules/dashboard/components/TaskSkills/TaskSkills.jsx
Due: eslint --fix, stylelint --fix

Adhere to non-alphabetical CSS property ordering like a heathen
  src/modules/dashboard/components/TaskDate/TaskDate.css
Due: stylelint --fix

Improve AC prop type
  src/modules/users/actionCreators/wallet.js
  src/modules/users/components/ConnectWalletWizard/StepHardware/StepHardware.jsx
Due: eslint --fix

Fix icon & symbol alignment
  src/modules/admin/components/Tokens/TokenCard.css
Due: stylelint --fix

Limit to 3 token cards per row
  src/modules/admin/components/Tokens/Tokens.jsx
Due: eslint --fix

Style token symbol to match figma spec
  src/modules/admin/components/Tokens/TokenCard.css
Due: stylelint --fix

Override numeral styles, match figma spec (token balance)
  src/modules/admin/components/Tokens/TokenCard.css
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: eslint --fix, stylelint --fix

Unseal `EthUsd` props
  src/modules/core/components/EthUsd/EthUsd.jsx
Due: eslint --fix

Darken usd text
  src/modules/admin/components/Tokens/TokenCard.css
Due: stylelint --fix

Match usd text font-weight to figma spec
  src/modules/admin/components/Tokens/TokenCard.css
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: eslint --fix, stylelint --fix

Increase column gap for card list
  src/modules/core/components/CardList/CardList.css
Due: stylelint --fix

Increase width of vertical navigation page sidebar to match Figma spec
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.css
Due: stylelint --fix

Reduce width of tokens grid container
  src/modules/admin/components/Tokens/Tokens.css
Due: stylelint --fix

Reduce token card height to match widths
  src/modules/admin/components/Tokens/TokenCard.css
Due: stylelint --fix

Reduce token icon size
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: eslint --fix

Implement unlocking of a colony's native token
  package.json
  src/dialogComponents.js
  src/i18n/en.json
  src/immutable/Colony.js
  src/modules/admin/components/Profile/ProfileAdvanced.css
  src/modules/admin/components/Profile/ProfileAdvanced.jsx
  src/modules/admin/components/Profile/UnlockTokenDialog.jsx
  src/modules/core/components/Button/ActionButton.jsx
  src/modules/core/components/Button/DialogActionButton.jsx
  src/modules/dashboard/data/queries/colonies.js
  src/modules/dashboard/sagas/colony.js
  src/redux/actions.js
  src/redux/types/actions/colony.js
  yarn.lock
Due: eslint --fix, stylelint --fix

Store base64 in file
  package.json
  src/App.jsx
  src/favicon.js
  yarn.lock
Due: eslint --fix
