Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

Updates
  2b7037ef717e05e1950802a5f09beab5.woff2
  457e94a5b665614917d1dc45a13d97b8.woff2
  7d6afb9bfc9ae3dda53b3b8feb59c684.woff
  8d68084351a47c845fecc8806e0466fd.woff
  a17c827d23b2077f3be3824965774bba.woff
  build/0.2d233daa.js
  build/bundle.e8bb7331.js
  d42bfc911f5d68722bc0e2bb0f0e46d3.woff2
  index.html
Due: none

Add simple tooltip component
  src/modules/core/components/Popover/Popover.jsx
  src/modules/core/components/Popover/PopoverWrapper.css
  src/modules/core/components/Popover/PopoverWrapper.jsx
  src/modules/core/components/Popover/Tooltip.css
  src/modules/core/components/Popover/Tooltip.jsx
  src/modules/core/components/Popover/Tooltip.md
  styleguide.config.js
Due: yarn lint, yarn stylelint

Fix colonyUI gh-pages deployment
  package.json
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

Add: pinningService module & smoke test
  .gitmodules
  integration-testing/data/pinner.test.js
  integration-testing/utils/pinner.test-config.json
Due: none

Fix: make data tests pass with new pinner
  .eslintignore
  .flowconfig
  integration-testing/data/UserProfile.test.js
  integration-testing/data/orbitdb.test.js
  integration-testing/data/pinner.test.js
  integration-testing/utils/DDBTestFactory.js
  integration-testing/utils/pinner.mock.js
  package.json
  src/data/index.js
  src/data/types.js
Due: yarn lint

Add: pinning service in Dapp
  integration-testing/data/pinner.test.js
  integration-testing/utils/DDBTestFactory.js
  package.json
  src/data/index.js
  yarn.lock
Due: yarn lint

remove dead code in DDBTestFactory
  integration-testing/utils/DDBTestFactory.js
Due: none

data: do not hang in the no peer, no pinner case
  src/data/index.js
Due: yarn lint

provision: add pinningService
  scripts/provision_submodules.sh
Due: none

Fix configuration files
  jest-integration.conf.json
  jest.conf.json
Due: none

lint: data/index.js
  src/data/index.js
Due: yarn lint

Lint: integration-testing
  integration-testing/data/pinner.test.js
Due: none

integration: remove crypto path
  jest-integration.conf.json
Due: none

Add: redis during circle build
  .circleci/config.yml
  package.json
Due: none

Add: newlines to files
  .eslintignore
  integration-testing/utils/pinner.test-config.json
Due: none

Refactor: explicit variables names in data tests
  integration-testing/data/UserProfile.test.js
Due: none

Remove: useless submodule update during pinning provision
  scripts/provision_submodules.sh
Due: none

Refactor: relies on yarn `cwd`
  package.json
Due: none

Refactor: add redis container to ci integration
  .circleci/config.yml
Due: none

Refactor: start pinning service during test setup
  integration-testing/utils/integration-testing-setup.js
Due: none

Add: readme docker install
  Readme.md
Due: none

Ignore: unit-tests ipfs & orbit folders
  .gitignore
Due: none

Add: pinning teardown during integration
  integration-testing/utils/integration-testing-setup.js
  integration-testing/utils/integration-testing-teardown.js
Due: none

Refactor: integration setup, explicit names & debug stdout
  integration-testing/utils/integration-testing-setup.js
Due: none

Refactor: integration setup, reorg init code
  integration-testing/utils/integration-testing-setup.js
Due: none

css cleanup
  src/modules/core/components/Fields/Textarea/Textarea.css
Due: yarn stylelint

add textarea component
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/core/components/Fields/Textarea/Textarea.jsx
  src/modules/core/components/Fields/Textarea/Textarea.md
  src/modules/core/components/Fields/Textarea/index.js
Due: yarn lint, yarn stylelint

Apply stylelint fixes
  src/modules/core/components/Fields/Textarea/Textarea.css
Due: yarn stylelint

changed input to textarea consistently, added resizable to Appearance flowtype
  src/modules/core/components/Fields/Textarea/Textarea.jsx
  styleguide.config.js
Due: yarn lint

corrected path naming in textarea
  styleguide.config.js
Due: none

fix eslint error
  src/modules/core/components/Fields/Textarea/Textarea.jsx
Due: yarn lint

Add file upload component
  .flowconfig
  jest.conf.json
  package.json
  src/lib/fileReader/index.js
  src/modules/core/components/Fields/FileUpload/FileUpload.css
  src/modules/core/components/Fields/FileUpload/FileUpload.jsx
  src/modules/core/components/Fields/FileUpload/FileUpload.md
  src/modules/core/components/Fields/FileUpload/UploadItem/UploadItem.css
  src/modules/core/components/Fields/FileUpload/UploadItem/UploadItem.jsx
  src/modules/core/components/Fields/FileUpload/UploadItem/index.js
  src/modules/core/components/Fields/FileUpload/__tests__/FileUpload.test.js
  src/modules/core/components/Fields/FileUpload/__tests__/__snapshots__/FileUpload.test.js.snap
  src/modules/core/components/Fields/FileUpload/index.js
  src/utils/arrays/index.js
  src/utils/css/index.js
  styleguide.config.js
  webpack.config.js
  yarn.lock
Due: yarn lint, yarn stylelint

Correct props
  src/modules/core/components/Fields/FileUpload/FileUpload.jsx
  src/modules/core/components/Fields/FileUpload/UploadItem/UploadItem.jsx
Due: yarn lint

Flow and lint improvements - remove some props
  src/modules/core/components/Fields/FileUpload/FileUpload.md
  src/modules/core/components/Fields/FileUpload/UploadItem/UploadItem.jsx
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.jsx
  src/modules/core/components/MnemonicGenerator/MnemonicGenerator.jsx
Due: yarn lint

Refactor: Use Formik instead of state
  src/modules/core/components/Fields/FileUpload/FileUpload.jsx
  src/modules/core/components/Fields/FileUpload/FileUpload.md
  src/modules/core/components/Fields/FileUpload/UploadItem/UploadItemBak.jsx
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/asField.js
  src/modules/core/components/Fields/asFieldArray.js
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.jsx
  src/modules/core/components/MnemonicGenerator/MnemonicGenerator.jsx
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
