Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

Update babel-loader to v8.0.2
  package.json
  yarn.lock
Due: none

Upgrade babel to v7
  .babelrc
  package.json
  yarn.lock
Due: none

Force resolution to babel-core v7
  package.json
  yarn.lock
Due: none

Move url-loader to devDeps
  package.json
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

Remove postcss-jsx because we do not need it (?)
  package.json
  yarn.lock
Due: none

Update lockfile
  yarn.lock
Due: none

Update enzyme to 3.6.0 / 1.8.0
  package.json
  yarn.lock
Due: none

Copy Select component from beta
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.jsx
  src/modules/core/components/Fields/Select/index.js
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
  src/modules/core/components/Fields/SelectOption/index.js
Due: yarn lint, yarn stylelint

Add select example
  src/modules/core/components/Fields/Select/Select.md
  styleguide.config.js
Due: none

Flow and lint improvements
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.jsx
  src/modules/core/components/Fields/Select/index.js
  src/modules/core/components/Fields/Select/keyTypes.js
  src/modules/core/components/Fields/Select/types.js
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
  src/modules/core/components/Fields/SelectOption/index.js
  src/styles/shared/elements.css
Due: yarn lint, yarn stylelint

Add `core-js`
  package.json
Due: none

Improve SelectOptionType, add `name` to example
  src/modules/core/components/Fields/Select/Select.md
  src/modules/core/components/Fields/Select/types.js
Due: yarn lint

Fix icon name
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Handle formik `setValue` when option selected
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
Due: yarn lint

Reorder imports, fix displayNames
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
  src/modules/core/components/Fields/Select/SelectListBox.jsx
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
Due: yarn lint

stylelint fixes
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/styles/shared/elements.css
Due: yarn stylelint

general a11y improvements and fixes
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
  src/modules/core/components/Fields/Select/index.js
  src/modules/core/components/Fields/Select/keyTypes.js
Due: yarn lint

Appearance improvements
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/types.js
Due: yarn lint, yarn stylelint

Improve a11y and keyboard interactions with the select items
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Add instance check in condition for flow purposes
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Improve `appearance.theme` styles
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
Due: yarn lint, yarn stylelint

Let formik store the value of `checkedOption`
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Add find-index from core-js
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Improve documentation, provide unconnected example
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
Due: yarn lint

Improve visual accessibility cues for alt theme
  src/modules/core/components/Fields/Select/Select.css
Due: yarn stylelint

Make input width 100%
  src/modules/core/components/Fields/Input/InputComponent.css
Due: yarn stylelint

Compose from InputComponent vs Input (styles moved)
  src/modules/core/components/Fields/Select/Select.css
Due: yarn stylelint

Improve altTheme styles to match design spec
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/Select.md
Due: yarn lint, yarn stylelint

Add basic test from beta
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/__tests__/Select.test.js
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.js.snap
Due: yarn lint

Add transparent border for collapsed state
  src/modules/core/components/Fields/Select/Select.css
Due: yarn stylelint

Make `SelectOption` type more explicit everywhere
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/Select/SelectListBox.jsx
  src/modules/core/components/Fields/Select/types.js
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
Due: yarn lint

Less-lazy event element typing
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Simplify checkOption - it is no longer async
  src/modules/core/components/Fields/Select/Select.jsx
  src/modules/core/components/Fields/SelectOption/SelectOption.jsx
Due: yarn lint

Remove unnecessary aria attribute for combobox element
  src/modules/core/components/Fields/Select/Select.jsx
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
