Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Set `atl` theme to have white background for content
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
Due: stylelint --fix

Prevent inbox table from over-expanding
  src/modules/dashboard/components/Inbox/Inbox.css
Due: stylelint --fix

Prevent task UI from scrolling if sidebar overflows
  src/modules/dashboard/components/Task/Task.css
Due: stylelint --fix

Allow modal contents to scroll when taller than viewport
  src/modules/core/components/Dialog/Dialog.css
Due: stylelint --fix

Remove unnecessary `className`s from misc. dialogs
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
  src/modules/dashboard/components/TaskRatingDialogs/ManagerRatingDialog.jsx
  src/modules/dashboard/components/TaskRatingDialogs/WorkerRatingDialog.jsx
Due: eslint --fix

Move `DialogProvider` inside router
  src/App.jsx
Due: eslint --fix

Add missing `displayName` to `Dialog`
  src/modules/core/components/Dialog/Dialog.jsx
Due: eslint --fix

Close all open dialogs on route change
  src/modules/core/components/Dialog/DialogProvider.jsx
Due: eslint --fix

Add padding below wizard content for scroll space
  src/modules/pages/components/WizardTemplate/WizardTemplate.css
Due: stylelint --fix

Add `left: 0` to position recovery mode alert properly
  src/modules/admin/components/RecoveryModeAlert/RecoveryModeAlert.css
Due: stylelint --fix

Change percentage grid rows to `auto`
  src/modules/admin/components/Profile/ProfileEdit.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/Dashboard/Dashboard.css
  src/modules/dashboard/components/Wallet/Wallet.css
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.css
Due: stylelint --fix

Fix: bottom padding & tab panel height
  src/modules/core/components/Tabs/TabPanel.css
  src/modules/dashboard/components/Dashboard/Dashboard.css
Due: stylelint --fix

Use existing back button from nav
  src/modules/users/components/UserProfileEdit/Sidebar.css
  src/modules/users/components/UserProfileEdit/Sidebar.jsx
  src/routes/Routes.jsx
Due: eslint --fix, stylelint --fix

Add permissions manifest
  src/lib/database/accessControllers/ColonyAccessController.js
  src/lib/database/accessControllers/PermissionManager.js
  src/lib/database/accessControllers/permissions/colony.js
  src/lib/database/accessControllers/permissions/common.js
  src/lib/database/accessControllers/permissions/index.js
  src/lib/database/accessControllers/permissions/task.js
  src/lib/database/accessControllers/permissions/types.js
  src/lib/database/accessControllers/permissions/utils.js
Due: eslint --fix

Add all components required for the domain tab
  src/modules/admin/components/DomainList/DomainList.css
  src/modules/admin/components/DomainList/DomainList.jsx
  src/modules/admin/components/DomainList/DomainListItem.css
  src/modules/admin/components/DomainList/DomainListItem.jsx
  src/modules/admin/components/DomainList/index.js
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/admin/components/Organizations/__datamocks__/domainMocks.js
Due: eslint --fix, stylelint --fix

Add correct styles to tab
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/core/components/Button/Button.css
Due: eslint --fix, stylelint --fix

Make contributions optional and apply minor style changes
  src/modules/admin/components/DomainList/DomainList.css
  src/modules/admin/components/DomainList/DomainList.jsx
  src/modules/admin/components/DomainList/DomainListItem.css
  src/modules/admin/components/DomainList/DomainListItem.jsx
  src/modules/admin/components/Organizations/OrganizationAddDomains.css
  src/modules/admin/components/Organizations/OrganizationAddDomains.jsx
  src/modules/admin/components/Organizations/Organizations.jsx
  src/modules/admin/components/Organizations/__datamocks__/domainMocks.js
  src/modules/core/components/Button/Button.jsx
Due: eslint --fix, stylelint --fix

Fix orbit-db-identity-provider and ipfs-log versions
  package.json
  yarn.lock
Due: none

Use lifecycle method in task.js
  src/modules/dashboard/components/Task/Task.js
Due: eslint --fix

Create user inbox store blueprint
  src/modules/users/stores/index.js
  src/modules/users/stores/userInboxStore.js
Due: eslint --fix

Make getAccessController optional on blueprints
  src/lib/database/DDB.js
  src/lib/database/types/index.js
  src/modules/dashboard/stores/userActivityStore.js
Due: eslint --fix

Add inbox store to user profile
  src/modules/users/sagas/userSagas.js
  src/modules/users/stores/userProfileStore.js
Due: eslint --fix

Add functions for getting user stores
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Add inbox and activity store selectors
  src/modules/users/selectors/users.js
Due: eslint --fix

Use selectors to get user activity store
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Remove redundant enhancer from component
  src/modules/core/components/UserAvatar/UserAvatar.jsx
Due: eslint --fix

Add missing `displayName`s
  src/modules/core/components/Avatar/Avatar.jsx
  src/modules/core/components/UserAvatar/UserAvatar.jsx
  src/modules/core/components/UserAvatar/UserAvatarDisplay.jsx
Due: eslint --fix

Fix avatar prop: `avatarUrl` => `avatarURL`
  src/modules/core/components/UserAvatar/UserAvatarDisplay.jsx
Due: eslint --fix

Fix: user avatar update on upload finish
  src/modules/users/composers/withUser.js
Due: eslint --fix

Add user avatar remove reducer
  src/modules/users/reducers/currentUserReducer.js
Due: eslint --fix

Fix `AvatarUploader` form: added `initialValues`
  src/modules/core/components/AvatarUploader/AvatarUploader.jsx
Due: eslint --fix

Fix task permission manifest
  src/lib/database/accessControllers/permissions/common.js
  src/lib/database/accessControllers/permissions/task.js
Due: eslint --fix

Add PinnerConnector
  package.json
  src/lib/database/PinnerConnector.js
  src/lib/database/__tests__/PinnerConnector.test.js
  src/utils/async.js
  yarn.lock
Due: eslint --fix

Integrate with PinnerConnector
  .eslintrc.js
  integration-testing/DDB.test.js
  integration-testing/FeedStore.test.js
  integration-testing/KVStore.test.js
  src/lib/database/DDB.js
  src/lib/database/stores/KVStore.js
  src/lib/database/stores/Store.js
  src/lib/database/stores/__tests__/KVStore.test.js
  src/lib/database/types/OrbitDBStore.js
  src/lib/database/types/index.js
  src/lib/ipfs/IPFSNode.js
  src/modules/core/sagas/utils/getDDB.js
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Change dApp port to 9090, use https in dev mode
  Readme.md
  cypress.json
  package.json
Due: none

SSL all the things! Use mkcert to generate your own
  .gitignore
  package.json
  scripts/wss_proxy.js
  src/lib/ipfs/IPFSNode.js
  ssl/.gitkeep
  yarn.lock
Due: eslint --fix

Add wss proxy to start scripts
  package.json
  scripts/start_all.js
  scripts/start_ganache.js
  scripts/start_wss_proxy.js
  scripts/wss_proxy.js
Due: none

Fix outstanding messages cache
  src/lib/database/PinnerConnector.js
Due: eslint --fix

Use pinion instead of the pinningService
  .circleci/config.yml
  .eslintignore
  .flowconfig
  .gitmodules
  integration-testing/utils/DDBTestFactory.js
  integration-testing/utils/fetch-polyfill.js
  integration-testing/utils/integration-testing-setup.js
  integration-testing/utils/integration-testing-teardown.js
  integration-testing/utils/patch-node-crypto.js
  integration-testing/utils/pinner.mock.js
  integration-testing/utils/pinner.test-config.json
  integration-testing/utils/setup.js
  jest.conf.json
  package.json
  scripts/provision_submodules.sh
  src/__tests__/patch-node-crypto.js
  src/lib/ipfs/types.js
Due: eslint --fix

Replicate even if we have HEADS
  src/lib/database/stores/Store.js
  src/modules/users/sagas/userSagas.js
Due: eslint --fix

Path conditions:
  eslint --fix: ((any of: src/**/*.{js,jsx}) or (any of: integration-testing/**/*.js)) or (any of: cypress/**/*.js)
  stylelint --fix: any of: src/**/*.css
