Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

Refactor: admin `Admin` component use `VerticalNavigation`
  src/modules/admin/components/Admin/Admin.css
  src/modules/admin/components/Admin/Admin.jsx
Due: yarn lint, yarn stylelint

Add: `AdminDashboard` link `Profile`, `Organizations`
  src/modules/admin/components/AdminDashboard/AdminDashboard.css
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/admin/components/Organizations/Organizations.css
Due: yarn lint, yarn stylelint

Rename: admin component `Admin` -> `AdminDashboard`
  src/modules/admin/components/Admin/index.js
  src/modules/admin/components/AdminDashboard/AdminDashboard.css
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/admin/components/AdminDashboard/index.js
  src/routes/Routes.jsx
Due: yarn lint, yarn stylelint

Add: core `Tabs`, `VerticalTabList` subcomponent
  src/modules/core/components/Tabs/Tabs.md
  src/modules/core/components/Tabs/VerticalTabList.css
  src/modules/core/components/Tabs/VerticalTabList.jsx
  src/modules/core/components/Tabs/index.js
Due: yarn lint, yarn stylelint

Add: `pages` module `components` subfolder
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreatingColony.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreatingToken.jsx
  src/modules/dashboard/components/Inbox/Inbox.jsx
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.jsx
  src/modules/pages/components/CenteredTemplate/index.js
  src/modules/pages/components/LoadingTemplate/LoadingTemplate.css
  src/modules/pages/components/LoadingTemplate/LoadingTemplate.jsx
  src/modules/pages/components/LoadingTemplate/index.js
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.jsx
  src/modules/pages/components/ProfileTemplate/index.js
  src/modules/pages/components/WizardTemplate/WizardTemplate.css
  src/modules/pages/components/WizardTemplate/WizardTemplate.jsx
  src/modules/pages/components/WizardTemplate/__tests__/WizardTemplate.test.js
  src/modules/pages/components/WizardTemplate/__tests__/__snapshots__/WizardTemplate.test.js.snap
  src/modules/pages/components/WizardTemplate/index.js
  src/modules/user/components/ConnectWalletWizard/ConnectWalletWizard.jsx
  src/modules/user/components/ProfileCreate/ProfileCreate.js
  src/modules/user/components/UserProfile/UserProfile.jsx
  src/modules/user/components/UserProfileEdit/UserProfileEdit.jsx
Due: yarn lint, yarn stylelint

Fix: admin dashboard route
  src/routes/Routes.jsx
  src/routes/routeConstants.js
Due: yarn lint

Fix: `VerticalTabList` display naming
  src/modules/core/components/Tabs/VerticalTabList.jsx
Due: yarn lint

Refactor: `AdminDashboard` uses pages `VerticalNavigation`
  src/modules/admin/components/AdminDashboard/AdminDashboard.css
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
Due: yarn lint, yarn stylelint

Move: `VerticalNavigation` component to `pages`
  src/modules/core/components/VerticalNavigation/VerticalNavigation.md
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.css
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.jsx
  src/modules/pages/components/VerticalNavigation/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Revert: `className` prop from core `NavLink`
  src/modules/core/components/NavLink/NavLink.jsx
Due: yarn lint

Fix: alised imports after rebase
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.jsx
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.jsx
  src/modules/user/components/ConnectWalletWizard/ConnectWalletWizard.js
  src/modules/user/components/CreateWalletWizard/CreateWalletWizard.jsx
Due: yarn lint

Rename: icon `back` to `circle-back`
  src/img/icons/circle-back.svg
  src/modules/core/components/Icon/icons.json
Due: none

Fix: `AdminDashboard` better navigation items types
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.jsx
Due: yarn lint

Fix: `core` `VerticalTabList` proper `tabsRole` name
  src/modules/core/components/Tabs/VerticalTabList.jsx
Due: yarn lint

Fix: core `VerticalTabList` `Tab` better initial styling
  src/modules/core/components/Tabs/VerticalTabList.css
Due: yarn stylelint

Fix: `AdminDashboard` back icon name
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
Due: yarn lint

Fix: `UserProfileEdit` use correct back icon name
  src/modules/user/components/UserProfileEdit/Sidebar.jsx
Due: yarn lint

Use redux Dispatch type
  src/utils/redux/index.js
Due: yarn lint

Fix dashboard namespace
  src/modules/dashboard/actionTypes/colony.js
  src/modules/dashboard/namespace.js
Due: yarn lint

Add transactions to `core` module
  src/createReduxStore.js
  src/modules/core/actionCreators/index.js
  src/modules/core/actionCreators/transactions.js
  src/modules/core/actionTypes/index.js
  src/modules/core/actionTypes/transactions.js
  src/modules/core/reducers/index.js
  src/modules/core/reducers/transactions.js
  src/modules/core/types.js
  src/modules/core/utils/transactions.js
  src/utils/redux/index.js
Due: yarn lint

Update colonyJS, use types
  package.json
  src/modules/core/actionCreators/transactions.js
  src/modules/core/types.js
  yarn.lock
Due: yarn lint

Use `methodSagaFactory`
  src/modules/dashboard/sagas/colony.js
Due: yarn lint

Finish majority implementation of create colony sagas
  src/createReduxStore.js
Due: yarn lint

Add dashboard store
  src/createReduxStore.js
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/reducers/colony.js
  src/modules/dashboard/reducers/index.js
Due: yarn lint

WIP: connect create colony wizard to dashboard store
  src/modules/core/components/Wizard/withWizard.js
  src/modules/dashboard/actionCreators/colony.js
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/reducers/index.js
Due: yarn lint

CardList: make `appearance` prop optional
  src/modules/core/components/CardList/CardList.jsx
Due: yarn lint

Cards: increase border radius, set background color
  src/modules/core/components/Card/Card.css
Due: yarn stylelint

Make token card list scrollable past ~2 rows
  src/modules/dashboard/components/ColonyTokenAdmin/ColonyTokenAdmin.css
Due: yarn stylelint

Add `ColonyTokenAdmin` and a `TokenCard`
  src/modules/dashboard/components/ColonyTokenAdmin/ColonyTokenAdmin.css
  src/modules/dashboard/components/ColonyTokenAdmin/ColonyTokenAdmin.jsx
  src/modules/dashboard/components/ColonyTokenAdmin/TokenCard.css
  src/modules/dashboard/components/ColonyTokenAdmin/TokenCard.jsx
  src/modules/dashboard/components/ColonyTokenAdmin/__datamocks__/mockTokens.js
  src/modules/dashboard/components/ColonyTokenAdmin/index.js
  src/modules/dashboard/components/ColonyTokenAdmin/types.js
Due: yarn lint, yarn stylelint

Conditionally render `Mint New Tokens` button
  src/modules/dashboard/components/ColonyTokenAdmin/ColonyTokenAdmin.jsx
Due: yarn lint

Add dummy `getEthUsd` function
  src/modules/dashboard/components/ColonyTokenAdmin/TokenCard.jsx
Due: yarn lint

Move/rename files to match `admin` modules convention
  src/modules/admin/components/ColonyTokens/ColonyTokens.css
  src/modules/admin/components/ColonyTokens/ColonyTokens.jsx
  src/modules/admin/components/ColonyTokens/TokenCard.css
  src/modules/admin/components/ColonyTokens/TokenCard.jsx
  src/modules/admin/components/ColonyTokens/__datamocks__/mockTokens.js
  src/modules/admin/components/ColonyTokens/index.js
  src/modules/admin/components/ColonyTokens/types.js
  src/modules/dashboard/components/ColonyTokenAdmin/index.js
Due: yarn lint, yarn stylelint

Add state to manage ethUsd
  src/modules/admin/components/ColonyTokens/TokenCard.jsx
Due: yarn lint

Refactor to assume `tokenIcon` images coming from ipfs
  src/modules/admin/components/ColonyTokens/TokenCard.css
  src/modules/admin/components/ColonyTokens/TokenCard.jsx
  src/modules/admin/components/ColonyTokens/__datamocks__/mockTokens.js
  src/modules/admin/components/ColonyTokens/types.js
Due: yarn lint, yarn stylelint

Fix: update component name to match `displayName`
  src/modules/admin/components/AdminDashboard/AdminDashboard.jsx
  src/modules/admin/components/ColonyTokens/index.js
  src/modules/admin/components/Tokens/TokenCard.css
  src/modules/admin/components/Tokens/TokenCard.jsx
  src/modules/admin/components/Tokens/Tokens.css
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/__datamocks__/mockTokens.js
  src/modules/admin/components/Tokens/index.js
  src/modules/admin/components/Tokens/types.js
Due: yarn lint, yarn stylelint

Hide entire sidebar if user is not a colony admin
  src/modules/admin/components/Tokens/Tokens.jsx
Due: yarn lint

Add ethUsd conversion with etherscan and basic cache
  src/modules/admin/components/Tokens/TokenCard.jsx
Due: yarn lint

WIP: Use `ActionForm`
  src/modules/core/components/Fields/Form/ActionForm.jsx
  src/modules/dashboard/actionCreators/colony.js
  src/modules/dashboard/actionTypes/colony.js
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
Due: yarn lint

Move token types into global `~types`
  src/modules/admin/components/Tokens/TokenCard.jsx
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/__datamocks__/mockTokens.js
  src/types/token.js
Due: yarn lint

Add util to sort objects by multiple properties, use in `Tokens`
  src/modules/admin/components/Tokens/Tokens.jsx
  src/modules/admin/components/Tokens/__datamocks__/mockTokens.js
  src/utils/arrays/index.js
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
