Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx}": [
      "yarn lint",
      "git add"
    ],
    "src/**/*.css": [
      "yarn stylelint",
      "git add"
    ],
  }
}

add pass phrase generator
  package.json
  yarn.lock
Due: none

get drag and drop package and customise
  yarn.lock
Due: none

get passphrase from colonywallet
  package.json
  yarn.lock
Due: none

Add flow types and remove linting issues
  .eslintrc
  package-lock.json
  yarn.lock
Due: none

finish stylelint
  .eslintrc
  src/modules/core/components/Button/Button.css
Due: yarn stylelint

final css polish
  src/modules/core/components/Button/Button.css
  src/modules/wallet/components/WalletStart/WalletStart.css
Due: yarn stylelint

apply recommendations on code style
  package-lock.json
  src/modules/wallet/components/WalletStart/WalletStart.css
  webpack.config.js
Due: yarn stylelint

Add vertically centered template
  src/modules/pages/components/WalletConnectTemplate/WalletConnectTemplate.css
  src/modules/pages/components/WalletConnectTemplate/WalletConnectTemplate.js
  src/modules/pages/components/WalletConnectTemplate/WalletConnectTemplate.jsx
  src/modules/pages/components/WalletConnectTemplate/index.js
Due: yarn lint, yarn stylelint

Add MetaMask connection component
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.css
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/index.js
Due: yarn lint, yarn stylelint

Add `withProvider` component as wrapper
  src/modules/wallet/components/ConnectWallet/index.js
Due: yarn lint

Add JSONUpload skeleton component
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.css
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/MetaMask.css
  src/modules/wallet/components/ConnectWallet/JSONUpload/index.js
Due: yarn lint, yarn stylelint

Add Mnemonic skeleton component
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.css
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/index.js
Due: yarn lint, yarn stylelint

Add Hardware skeleton component
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/index.js
Due: yarn lint, yarn stylelint

Add routes for components
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/routes.js
Due: yarn lint

Add connect wallet route outlet to App
  src/App.jsx
Due: yarn lint

Use new `white` variable
  src/modules/pages/components/WalletConnectTemplate/WalletConnectTemplate.css
Due: yarn stylelint

Improve hardware connection
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/__mocks__/hardwareWalletMock.js
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
Due: yarn lint, yarn stylelint

Rebase with new core components
  src/App.jsx
  src/modules/pages/WalletConnectTemplate/WalletConnectTemplate.css
  src/modules/pages/WalletConnectTemplate/WalletConnectTemplate.jsx
  src/modules/pages/WalletConnectTemplate/index.js
  src/modules/pages/components/WalletConnectTemplate/WalletConnectTemplate.js
  src/modules/pages/components/WalletConnectTemplate/index.js
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/MetaMask.css
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/index.js
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/index.js
  src/modules/wallet/components/ConnectWallet/index.js
  src/modules/wallet/components/ConnectWallet/routes.js
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint, yarn stylelint

Adjust headings to use medium - default changed to huge
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
Due: yarn lint

Add HOC with handlers
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
Due: yarn lint

Add password field for JSON upload
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
Due: yarn lint

Improve usage of new core components
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
Due: yarn lint

Flow types, import ordering
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
Due: yarn lint

Use flowtypes from wallet lib
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
Due: yarn lint

Use `appearance.size` for multicolor if exists, otherwise `normal`
  src/modules/core/components/Icon/Icon.jsx
Due: yarn lint

Improve heading styles - weight & margins
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.css
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
Due: yarn lint, yarn stylelint

Improve screen layouts
  src/modules/core/components/Icon/Icon.js
  src/modules/pages/WalletConnectTemplate/WalletConnectTemplate.jsx
  src/modules/pages/WalletConnectTemplate/index.js
  src/modules/wallet/components/ConnectWallet/ConnectWallet.css
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/__mocks__/hardwareWalletMock.js
  src/modules/wallet/components/ConnectWallet/Hardware/index.js
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.css
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/index.js
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.css
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.css
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/components/WalletStart/WalletStart.css
Due: yarn lint, yarn stylelint

Use `secondary` button theme per design spec
  src/modules/wallet/components/ConnectWallet/ConnectWallet.css
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
  src/modules/wallet/components/WalletStart/WalletStart.css
Due: yarn lint, yarn stylelint

Fix button appearance sizes to match design spec
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
Due: yarn lint

Add theme to appearance with primary option
  src/modules/core/components/Preloaders/SpinnerLoader.css
  src/modules/core/components/Preloaders/SpinnerLoader.jsx
Due: yarn lint, yarn stylelint

Hardware form validation, balance spinners, type to filter
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.css
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
Due: yarn lint, yarn stylelint

Remove `isSubmitting` form prop from input elements
  src/modules/core/components/Fields/Input/InputComponent.jsx
  src/modules/core/components/Fields/Radio/Radio.jsx
  src/modules/core/components/Fields/Textarea/Textarea.jsx
Due: yarn lint

Handle `isSubmitting`, update advance button text
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
Due: yarn lint

Improve flow typing for formik errors
  flow-typed/npm/formik_v1.0.x.js
Due: none

Use formik for search/filter field
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/__mocks__/hardwareWalletMock.js
  src/modules/wallet/components/ConnectWallet/Hardware/types.js
Due: yarn lint, yarn stylelint

Form and flow improvements
  .flowconfig
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
  src/modules/wallet/components/ConnectWallet/Mnemonic/Mnemonic.jsx
Due: yarn lint

Layout improvements to match design spec
  src/modules/wallet/components/ConnectWallet/ConnectWallet.css
  src/modules/wallet/components/ConnectWallet/ConnectWallet.jsx
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.css
  src/modules/wallet/components/ConnectWallet/Hardware/HardwareChoice.jsx
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.css
  src/modules/wallet/components/ConnectWallet/JSONUpload/JSONUpload.jsx
Due: yarn lint, yarn stylelint

Layout changes - fix widths, reduce component complexities
  src/modules/wallet/components/ConnectWallet/ConnectWallet.css
  src/modules/wallet/components/ConnectWallet/Hardware/Hardware.jsx
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
Due: yarn lint, yarn stylelint

Full height styles for full-screen templates
  src/styles/main.css
Due: yarn stylelint

Vertically center connection screens, use correct background color
  src/modules/wallet/components/ConnectWallet/ConnectWallet.css
Due: yarn stylelint
