Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

differentiate between internal and external screens
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepColonyDetails.jsx
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint

take out decisionhub as it's own component
  src/modules/core/components/DecisionHub/DecisionHub.css
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/index.js
  src/modules/wallet/components/WalletStart/WalletStart.css
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint, yarn stylelint

add new content to decisionhub
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/DecisionHub.md
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.css
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
Due: yarn lint, yarn stylelint

linkup naming and decision screen
  src/modules/core/components/DecisionHub/DecisionHub.css
  src/modules/dashboard/components/CreateColonyWizard/ColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/ColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.css
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
Due: yarn lint, yarn stylelint

remove padding of blue button theme like required in style guide
  src/modules/core/components/Button/Button.css
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.css
Due: yarn stylelint

add new component to styleguide and add snapshot test
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/DecisionHub.md
  src/modules/core/components/DecisionHub/__tests__/DecisionHub.test.js
  src/modules/core/components/DecisionHub/__tests__/__snapshots__/DecisionHub.test.js.snap
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
  src/modules/dashboard/components/CreateColonyWizard/__tests__/__snapshots__/CreateColonyWizard.test.js.snap
  src/modules/pages/WizardTemplate/__tests__/__snapshots__/WizardTemplate.test.js.snap
  styleguide.config.js
Due: yarn lint

make plan for passing through steps
  src/modules/core/components/DecisionHub/DecisionHub.md
  src/modules/core/components/Wizard/withWizard.js
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
Due: yarn lint

add selectToken component
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/dashboard/components/CreateColonyWizard/ColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/SelectToken.jsx
  src/modules/wallet/components/WalletStart/WalletStart.css
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint, yarn stylelint

give slugs to decisionHub
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint

link up all the wizards with decisionHub
  src/modules/dashboard/components/CreateColonyWizard/AccessToken.css
  src/modules/dashboard/components/CreateColonyWizard/AccessToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
  src/modules/dashboard/components/CreateColonyWizard/routes.js
  src/modules/dashboard/components/CreateTokenWizard/CreateToken.css
  src/modules/dashboard/components/CreateTokenWizard/CreateToken.jsx
  src/modules/dashboard/components/CreateTokenWizard/CreateTokenWizard.js
  src/modules/dashboard/components/CreateTokenWizard/CreateTokenWizard.jsx
  src/modules/dashboard/components/CreateTokenWizard/index.js
  src/modules/dashboard/components/UseTokenWizard/CreateTokenWizard.js
  src/modules/dashboard/components/UseTokenWizard/SelectToken.css
  src/modules/dashboard/components/UseTokenWizard/SelectToken.jsx
  src/modules/dashboard/components/UseTokenWizard/UseTokenWizard.js
  src/modules/dashboard/components/UseTokenWizard/UseTokenWizard.jsx
  src/modules/dashboard/components/UseTokenWizard/index.js
Due: yarn lint, yarn stylelint

finish styling selectToken
  src/modules/dashboard/components/UseTokenWizard/SelectToken.css
  src/modules/dashboard/components/UseTokenWizard/SelectToken.jsx
Due: yarn lint, yarn stylelint

try to get token details
  src/modules/dashboard/components/UseTokenWizard/SelectToken.jsx
Due: yarn lint

switch to external prop for template
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.jsx
Due: yarn lint

use recompose for wizard step
  src/modules/dashboard/components/CreateColonyWizard/AccessToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.jsx
  src/modules/dashboard/components/CreateTokenWizard/CreateTokenWizard.js
  src/modules/dashboard/components/UseTokenWizard/SelectToken.jsx
  src/modules/dashboard/components/UseTokenWizard/UseTokenWizard.js
  yarn.lock
Due: yarn lint

join multiple wizards into one dynamic wizard
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/DecisionHub/DecisionOption.jsx
  src/modules/core/components/Wizard/withWizard.js
  src/modules/dashboard/components/CreateColonyWizard/AccessToken.css
  src/modules/dashboard/components/CreateColonyWizard/AccessToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.css
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
  src/modules/dashboard/components/CreateColonyWizard/TokenChoice.jsx
  src/modules/dashboard/components/CreateColonyWizard/routes.js
  src/modules/dashboard/components/CreateTokenWizard/CreateTokenWizard.js
  src/modules/dashboard/components/CreateTokenWizard/CreateTokenWizard.jsx
  src/modules/dashboard/components/CreateTokenWizard/index.js
  src/modules/dashboard/components/UseTokenWizard/CreateTokenWizard.js
  src/modules/dashboard/components/UseTokenWizard/UseTokenWizard.js
  src/modules/dashboard/components/UseTokenWizard/UseTokenWizard.jsx
  src/modules/dashboard/components/UseTokenWizard/index.js
Due: yarn lint, yarn stylelint

give step state
  src/i18n/en-validation.json
  src/modules/core/components/Wizard/withWizard.js
  src/modules/dashboard/components/UseTokenWizard/SelectToken.jsx
  src/modules/validations.js
Due: yarn lint

use colonyJS to check on tokenAddress
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint

add interval to avoid called Etherscan all the time
  src/modules/core/components/DecisionHub/DecisionOption.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
  src/modules/wallet/components/WalletStart/WalletStart.jsx
Due: yarn lint

add fileUpload
  src/modules/core/components/FileUpload/FileUpload.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
Due: yarn lint, yarn stylelint

throttle requests
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint

clean up flow types
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint

improve validation on inputs
  src/modules/core/components/Button/Button.css
  src/modules/core/components/DecisionHub/DecisionHub.css
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/DecisionHub.md
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/DecisionHub/__tests__/DecisionHub.test.js
  src/modules/core/components/DecisionHub/__tests__/__snapshots__/DecisionHub.test.js.snap
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.css
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
  src/modules/dashboard/components/CreateColonyWizard/__tests__/__snapshots__/CreateColonyWizard.test.js.snap
  src/modules/pages/WizardTemplate/__tests__/__snapshots__/WizardTemplate.test.js.snap
Due: yarn lint, yarn stylelint

fix new linting errors
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/__tests__/DecisionHub.test.js
  src/modules/core/components/Dialog/DialogProvider.jsx
  src/modules/core/components/OmniPicker/withOmniPicker.js
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
Due: yarn lint

upgrade yup and adapt syntax to new version
  package.json
  yarn.lock
Due: none

Fixed issues after review
  package.json
  src/modules/core/components/Button/Button.css
  src/modules/core/components/DecisionHub/DecisionHub.jsx
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/DecisionHub/DecisionOption.jsx
  src/modules/core/components/Dialog/DialogProvider.jsx
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/asField.js
  src/modules/core/components/OmniPicker/withOmniPicker.js
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
  styleguide.config.js
  yarn.lock
Due: yarn lint, yarn stylelint

Fix various linting errors
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint

Fix steps function typing in CreateColonyWizard
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
Due: yarn lint

remove unused files
  src/modules/dashboard/components/CreateColonyWizard/CreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/CreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint, yarn stylelint

consistent naming for files, components and intl
  src/modules/dashboard/components/CreateColonyWizard/CreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/CreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.jsx
Due: yarn lint, yarn stylelint

Fix flow, eslint and jest issues
  package.json
  src/modules/core/components/OmniPicker/withOmniPicker.js
  yarn.lock
Due: yarn lint

basic setup for confirmation screen
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
Due: yarn lint, yarn stylelint

upgrade yup and adapt syntax to new version
  yarn.lock
Due: none

pass values through to next step on confirm
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
Due: yarn lint, yarn stylelint

add activity bar for gas station
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
Due: yarn lint, yarn stylelint

register dialog
  src/App.jsx
  src/modules/core/components/ActivityBar/ActivityBarExample.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
Due: yarn lint

turn Input component into Heading
  src/modules/core/components/ActivityBar/ActivityBarExample.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateColony.jsx
Due: yarn lint, yarn stylelint

join wizard steps
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.js
  src/modules/dashboard/components/TaskList/TaskList.jsx
Due: yarn lint

update some tests
  src/modules/core/components/Button/__tests__/__snapshots__/Button.test.js.snap
  src/modules/core/components/Fields/InputLabel/__tests__/__snapshots__/InputLabel.test.js.snap
  src/modules/core/components/Fields/Radio/__tests__/__snapshots__/Radio.test.js.snap
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.js.snap
  src/modules/core/components/Heading/__tests__/__snapshots__/Heading.test.js.snap
  src/modules/core/components/Icon/__tests__/__snapshots__/Icon.test.js.snap
  src/modules/wallet/components/ProfileCreate/__tests__/__snapshots__/ProfileCreate.test.js.snap
Due: none

Rename hint prop to extra on InputLabel
  src/modules/core/components/Fields/Input/Input.jsx
  src/modules/core/components/Fields/Input/Input.md
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/core/components/Fields/InputLabel/InputLabel.jsx
  src/modules/core/components/Fields/Textarea/Textarea.jsx
  src/modules/core/components/Fields/Textarea/Textarea.md
  src/modules/core/components/FileUpload/FileUpload.jsx
  src/modules/core/components/FileUpload/FileUpload.md
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.jsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.jsx
Due: yarn lint, yarn stylelint

Install v6 beta of eslint-config-colony plus peerDeps
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
