Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint, yarn lint:integration

Adds: path to load colony metadata into redux (test, action, saga, reducer)
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Adds: path to change simple properties of a domain
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/domainActions.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Refactor: move redux store setup to own file
  src/App.jsx
  src/DynamicComponent.jsx
  src/DynamicRoute.jsx
  src/createReduxStore.js
  src/index.js
Due: yarn lint

Refactors initializeData action creator to use promise pattern
  integration-testing/data/dataReducer.test.js
  src/actions/index.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Adds: path for addCommentToTask (test, action, saga, reducer)
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Add test stubs to UserProfile and dataReducer integration tests
  integration-testing/data/UserProfile.test.js
  integration-testing/data/dataReducer.test.js
Due: yarn lint:integration

Adds test for root reducer shape
  integration-testing/data/dataReducer.test.js
Due: yarn lint:integration

Refactor: return true from Data joinColony
  src/data/index.js
Due: yarn lint

Adds tests and methods to add a task to a domain, comment to a task
  integration-testing/data/Domain.test.js
  src/data/ipfs/index.js
  src/data/orbit/Domain.js
Due: yarn lint, yarn lint:integration

Finishes path to add colony to UserProfile
  integration-testing/data/dataReducer.test.js
  src/actions/actionConstants.js
  src/actions/index.js
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Adds meta colony address as constant
  src/data/index.js
  src/utils/constants.js
Due: yarn lint

Refactor: tweaks addCommentToTask action creator
  integration-testing/data/dataReducer.test.js
  src/sagas/dataSagas.js
Due: yarn lint, yarn lint:integration

Add basic redux + saga structure
  src/App.jsx
  src/actions/constants.js
  src/actions/createColony.js
  src/actions/index.js
  src/helpers/colonyNetwork.js
  src/reducers/colony.js
  src/reducers/index.js
  src/sagas/colony.js
  src/sagas/index.js
Due: yarn lint

Add: tests and set/get Colony pot methods
  integration-testing/data/Colony.test.js
  src/data/index.js
  src/data/orbit/Colony.js
Due: yarn lint, yarn lint:integration

Fix: purser `metamask` import object
  src/modules/wallet/components/ConnectWallet/MetaMask/MetaMask.jsx
Due: yarn lint

Adds initialization method to UserProfile
  src/data/orbit/UserProfile.js
Due: yarn lint

Add: type for path match
  src/types/navigation.js
Due: yarn lint

Add: initial react root context structure
  src/App.jsx
  src/context/index.js
  src/context/walletContext.js
  src/createReactContext.js
  src/index.js
  yarn.lock
Due: yarn lint

Adds test for Data API fetching colony members
  integration-testing/data/Colony.test.js
  src/data/index.js
  src/data/orbit/Colony.js
Due: yarn lint, yarn lint:integration

Fix: correct variable usage and export
  src/data/index.js
  src/utils/constants.js
Due: yarn lint

Refactor: move old colony sagas to better structure
  src/actions/index.js
  src/createReduxStore.js
  src/modules/dashboard/actionCreators/colony.js
  src/modules/dashboard/actionTypes/colony.js
  src/modules/dashboard/actionTypes/index.js
  src/modules/dashboard/sagas/colony.js
  src/modules/dashboard/sagas/index.js
  src/sagas/index.js
  src/utils/colonyNetwork/index.js
Due: yarn lint

Adds joinColony method and types to UserProfile and to Data class
  src/data/index.js
  src/data/orbit/UserProfile.js
Due: yarn lint

Refactor: move dataSagas and dataReducers within data folder
  src/data/reducers/dataReducer.js
  src/data/reducers/index.js
  src/data/sagas/dataSagas.js
  src/data/sagas/index.js
  src/reducers/colony.js
  src/reducers/index.js
  src/sagas/colony.js
  src/sagas/index.js
  src/store.js
Due: yarn lint

Begins draft of Data API. Drafts functions, interface, folders, types.
  integration-testing/data/UserProfile.test.js
  src/data/__tests__/index.test.js
  src/data/index.js
  src/data/ipfs/index.js
  src/data/orbit/UserProfile.js
  src/data/orbit/index.js
  src/data/types.js
Due: yarn lint, yarn lint:integration

Adds: methods to return colony metadata, not class
  src/data/index.js
  src/data/orbit/Colony.js
  src/data/types.js
Due: yarn lint

Skip IPFS test in Colony.test.js
  integration-testing/data/Colony.test.js
Due: yarn lint:integration

Fix: `package.json` indentation
  package.json
Due: none

Adds: stubs action creators
  src/actions/index.js
Due: yarn lint

Refactor: use react-addon-update to correctly change domain state
  src/reducers/dataReducer.js
  src/sagas/dataSagas.js
Due: yarn lint

Add: redux `withBoundActionCreators` HoC utils
  src/utils/redux/index.js
Due: yarn lint

Adds: updateColony to Data API, setProperty to Colony DDB class
  src/data/index.js
  src/data/orbit/Colony.js
Due: yarn lint

Refactors sagas: alphabetize imports, yield -> yield*
  src/sagas/dataSagas.js
Due: yarn lint

Add: wallet `createWallet` saga and actions
  src/context/wallet.js
  src/modules/wallet/actionCreators/wallet.js
  src/modules/wallet/actionTypes/wallet.js
  src/modules/wallet/components/CreateWalletWizard/StepCreatePhrase.jsx
  src/modules/wallet/components/CreateWalletWizard/StepProveMnemonic.jsx
  src/modules/wallet/sagas/wallet.js
Due: yarn lint

Adds Domain database basics and stubs tests
  integration-testing/data/Domain.test.js
  src/data/orbit/Domain.js
  src/data/types.js
Due: yarn lint, yarn lint:integration

Add: User Profile reducer basics
  src/data/__tests__/reducer.test.js
  src/data/reducer.js
Due: yarn lint

Refactors reducer to store all profiles in object by PublicKey
  src/actions/constants.js
  src/data/orbit/UserProfile.js
  src/data/reducers/dataReducer.js
Due: yarn lint

Refactors Data API to use generalized getters and setters for UserProfile
  src/data/Data.js
Due: yarn lint

Returns pinner to Data class
  src/data/index.js
Due: yarn lint

Add: `withContext` helper HoC wrapper
  .flowconfig
  src/context/index.js
  src/context/wallet.js
  src/context/walletContext.js
  src/context/withContext.js
  webpack.config.js
Due: yarn lint

Adds addComment method to ipfs object and to data
  src/data/index.js
  src/data/ipfs/index.js
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{js,jsx}
  yarn stylelint: any of: src/**/*.css
  yarn lint:integration: any of: integration-testing/**/*.js
