Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

Add: `Task` prevent changing details once finalized
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Add: `Task` prevent adding due date once finalized
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Add: `Task` prevent adding domains once finalized
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Add: `Task` prevent changing assignments once finalized
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Fix: `Task` mock is not finalized by default
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
Due: yarn lint

Fix: `Task` header styles after rebase
  src/modules/dashboard/components/Task/Task.css
Due: yarn stylelint

Fix: `Task` code indentation (screwed after rebase)
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Update orbit-db to get verifiable addresses
  package.json
  yarn.lock
Due: none

Fix ethereum access controller
  src/lib/database/EthereumAccessController.js
  src/lib/database/types/AccessController.js
Due: yarn lint

Add: `TaskClaimRewardDialog` dashboard initial component
  src/modules/dashboard/components/TaskClaimRewardDialog/TaskClaimRewardDialog.css
  src/modules/dashboard/components/TaskClaimRewardDialog/TaskClaimRewardDialog.jsx
  src/modules/dashboard/components/TaskClaimRewardDialog/index.js
Due: yarn lint, yarn stylelint

Add: `button.continue` to global en locales
  src/i18n/en.json
Due: none

Add: wired `TaskClaimRewardDialog` with the DialogProvider
  src/dialogComponents.js
  src/modules/dashboard/components/TaskClaimRewardDialog/TaskClaimRewardDialog.jsx
Due: yarn lint

Fix: `NavigationWrapper` text alignment regression
  src/modules/pages/components/NavigationWrapper/NavigationWrapper.css
Due: yarn stylelint

Fix: `TaskClaimReward` pass alogn work rating
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
Due: yarn lint

Add: `TaskClaimReward` initial component
  src/dialogComponents.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.css
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.css
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
  src/modules/dashboard/components/TaskClaimReward/index.js
  src/modules/dashboard/components/TaskClaimRewardDialog/index.js
Due: yarn lint, yarn stylelint

Add: `TaskClaimReward` mock task reward data
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
Due: yarn lint

Add: `TaskClaimReward` mock fetched native token symbol
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
Due: yarn lint

Fix: `TaskClaimRewardDialog` reputation if native token
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
Due: yarn lint

Add: `TaskClaimRewardDialog` rating & reputation section
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.css
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
Due: yarn lint, yarn stylelint

Add: `TaskClaimRewardDialog` one star rewards
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.css
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
Due: yarn lint, yarn stylelint

Fix: `TaskClaimRewardDialog` native token sorting
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
Due: yarn lint

Add: `TaskClaimRewardDialog` rewards section
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.css
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
Due: yarn lint, yarn stylelint

Fix: `Task` mock imports after rebase
  src/modules/dashboard/components/Task/Task.jsx
Due: yarn lint

Remove: `TaskClaimReward` empty styles file
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.css
Due: yarn stylelint

Fix: `dialogComponents` imports after rebase
  src/dialogComponents.js
Due: yarn lint

Refactor: `TaskClaimReward` payout tokens sorting
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.js
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.jsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.jsx
  src/modules/dashboard/components/TaskClaimReward/index.js
Due: yarn lint

Fix: `TaskClaimRewardDialog` first letter styles
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.css
Due: yarn stylelint

Fix: `Task` imports after rebase
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
Due: yarn lint

Create new Dialog for task creation
  src/dialogComponents.js
  src/modules/core/components/Assignment/Assignment.md
  src/modules/core/components/Assignment/ItemDefault.css
  src/modules/core/components/Assignment/ItemDefault.jsx
  src/modules/core/components/Assignment/types.js
  src/modules/core/components/Dialog/Dialog.jsx
  src/modules/core/components/Dialog/DialogSection.css
  src/modules/core/components/Dialog/DialogSection.jsx
  src/modules/core/components/OmniPicker/OmniPickerContent.jsx
  src/modules/dashboard/components/Task/Task.js
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/TaskEditDialog.css
  src/modules/dashboard/components/Task/TaskEditDialog.jsx
  src/modules/dashboard/components/Task/index.js
  src/routes/Routes.jsx
  styleguide.config.js
Due: yarn lint, yarn stylelint

Create Payout row for each mock payout
  src/modules/core/components/Assignment/Assignment.css
  src/modules/core/components/Dialog/Dialog.jsx
  src/modules/core/components/Dialog/DialogBox.jsx
  src/modules/dashboard/components/Task/Payout.css
  src/modules/dashboard/components/Task/Payout.jsx
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/TaskEditDialog.css
  src/modules/dashboard/components/Task/TaskEditDialog.jsx
  src/modules/dashboard/components/Task/index.js
  src/routes/Routes.jsx
  src/utils/dynamicImport/index.js
  src/utils/external/index.js
Due: yarn lint, yarn stylelint

Extend SingleUserPicker instead of creating whole new component
  src/i18n/en.json
  src/modules/admin/components/Tokens/TokenCard.jsx
  src/modules/core/components/Assignment/Assignment.md
  src/modules/core/components/Assignment/ItemDefault.css
  src/modules/core/components/Assignment/ItemDefault.jsx
  src/modules/core/components/Assignment/types.js
  src/modules/core/components/Dialog/DialogBox.css
  src/modules/core/components/Dialog/FullscreenDialog.css
  src/modules/core/components/Dialog/FullscreenDialog.jsx
  src/modules/core/components/Dialog/index.js
  src/modules/core/components/Numeral/Numeral.css
  src/modules/core/components/Numeral/Numeral.jsx
  src/modules/core/components/SingleUserPicker/ItemDefault.css
  src/modules/core/components/SingleUserPicker/ItemDefault.jsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
  src/modules/core/components/SingleUserPicker/SingleUserPicker.jsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.md
  src/modules/core/components/UserMention/UserMention.css
  src/modules/core/components/UserMention/UserMention.jsx
  src/modules/core/components/UserMention/UserMention.md
  src/modules/dashboard/components/Task/Payout.css
  src/modules/dashboard/components/Task/Payout.jsx
  src/modules/dashboard/components/Task/Task.jsx
  src/modules/dashboard/components/Task/TaskEditDialog.css
  src/modules/dashboard/components/Task/TaskEditDialog.jsx
  src/modules/dashboard/components/Task/__datamocks__/mockTask.js
  src/routes/Routes.jsx
  src/utils/dynamicImport/index.js
  src/utils/external/index.js
  styleguide.config.js
Due: yarn lint, yarn stylelint

Disable SingleUserPicker properly when required
  src/modules/core/components/Dialog/DialogSection.jsx
  src/modules/core/components/OmniPicker/OmniPickerContent.jsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.jsx
  src/modules/core/components/UserMention/UserMention.jsx
  src/utils/external/index.js
Due: yarn lint

Add params to transaction action creators
  src/modules/core/actionCreators/transactions.js
  src/modules/core/reducers/__tests__/transactions.test.js
  src/modules/core/sagas/utils/sendTransaction.js
  src/modules/users/sagas/userSagas.js
Due: yarn lint

Fix store load issues
  src/lib/database/stores/Store.js
  src/modules/core/sagas/index.js
  src/modules/users/sagas/userSagas.js
  src/modules/users/selectors/users.js
Due: yarn lint

Put username in redux store, once set
  src/modules/users/reducers/currentUserReducer.js
  src/modules/users/sagas/userSagas.js
Due: yarn lint

Wire up AvatarDropdown to current user
  src/modules/users/components/AvatarDropdown/AvatarDropdown.jsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.jsx
  src/modules/users/reducers/usersReducer.js
  src/modules/users/sagas/userSagas.js
  src/modules/users/selectors/users.js
  src/routes/Routes.jsx
Due: yarn lint

Wire up user profile page
  src/lib/database/stores/KVStore.js
  src/modules/users/components/UserProfile/UserProfile.js
  src/modules/users/components/UserProfile/UserProfile.jsx
  src/modules/users/records/Users.js
  src/modules/users/reducers/usersReducer.js
  src/modules/users/sagas/userSagas.js
  src/modules/users/selectors/users.js
  src/routes/routeConstants.js
  src/types/UsersRecord.js
Due: yarn lint

Fix wallet address selector in ColonyHome
  src/modules/dashboard/components/ColonyHome/ColonyHome.jsx
Due: yarn lint

Wire current user to profile-edit display
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.jsx
  src/modules/users/components/UserProfile/UserProfile.js
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
  src/modules/users/sagas/userSagas.js
  src/modules/users/selectors/users.js
  src/routes/routeConstants.js
Due: yarn lint

Wire updating a user profile
  src/lib/database/schemas.js
  src/modules/users/components/UserProfileEdit/UserProfileEdit.jsx
  src/modules/users/reducers/currentUserReducer.js
  src/modules/users/sagas/userSagas.js
  src/modules/validations.js
Due: yarn lint

Path conditions:
  yarn lint: (any of: src/**/*.{js,jsx}) or (any of: integration-testing/**/*.js)
  yarn stylelint: any of: src/**/*.css
